/* line 32, ../sass/_wellejus.layout.scss */
#page {
  padding: 10px 0;
}

/* line 36, ../sass/_wellejus.layout.scss */
.grid-wrapper, .content-wrapper, .header-wrapper, .navigation-wrapper {
  max-width: 80%;
}

/* line 44, ../sass/_wellejus.layout.scss */
.topbar {
  width: 80%;
  margin: 0 10%;
  background-color: white;
}
/* line 49, ../sass/_wellejus.layout.scss */
.topbar .topbar-inner {
  max-width: 100%;
}

/* line 54, ../sass/_wellejus.layout.scss */
.logo {
  width: 100%;
  margin: 0;
  min-height: 110px;
}
/* line 62, ../sass/_wellejus.layout.scss */
.logo a,
.logo a:link,
.logo a:visited,
.logo a:active {
  display: block;
  margin: 6% 0 0;
}

/* line 23, ../sass/_wellejus.header.scss */
.header-wrapper {
  background-color: #50ba00;
  background-color: rgba(80, 186, 0, 0.7);
}

/* line 23, ../sass/_wellejus.typography.scss */
body {
  font-size: 15px;
  font-size: 0.9375rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* line 22, ../sass/_wellejus.navigation.scss */
.navigation-wrapper {
  margin: 0 10%;
  background-color: white;
}
