@charset "UTF-8";
/**
 * Variables for wellejus theme
 *
 * @author wiredloose
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Colors that can be configured for wellejus theme through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author wiredloose
 */
/* Header */
/* Navigation */
/* Links */
/* Labels */
/* Content */
/* List */
/* Footer */
/* Library colors */
/**
 * Rules that can be configured for wellejus theme is located in this file.
 *
 * @author wiredloose
 */
/* Links */
/* line 10, ../sass/configuration/_wellejus.configuration.scss */
a {
  font-weight: normal;
}
/* line 14, ../sass/configuration/_wellejus.configuration.scss */
a:link, a:visited {
  text-decoration: none;
}
/* line 18, ../sass/configuration/_wellejus.configuration.scss */
a:hover {
  text-decoration: underline;
}
/* line 21, ../sass/configuration/_wellejus.configuration.scss */
a:hover i[class^="icon-"] {
  text-decoration: none;
}

/* Bottom background color */
/* line 31, ../sass/configuration/_wellejus.configuration.scss */
.bottom {
  background-color: white;
}

/**
 * Mixins for wellejus theme
 *
 * @author wiredloose
 */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Base for wellejus theme
 *
 * @author wiredloose
 */
/* line 9, ../sass/framework/_wellejus.base.scss */
body {
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Verdana", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/* line 18, ../sass/framework/_wellejus.base.scss */
h1 {
  font-size: 170%;
}

/* line 22, ../sass/framework/_wellejus.base.scss */
h2 {
  font-size: 140%;
}

/* line 26, ../sass/framework/_wellejus.base.scss */
h3 {
  font-size: 130%;
}

/* line 30, ../sass/framework/_wellejus.base.scss */
h4 {
  font-size: 120%;
}

/* line 34, ../sass/framework/_wellejus.base.scss */
h5 {
  font-size: 110%;
}

/* line 38, ../sass/framework/_wellejus.base.scss */
h6 {
  font-size: 100%;
}

/* line 42, ../sass/framework/_wellejus.base.scss */
strong {
  font-family: "Verdana";
  font-weight: bold;
}

/* line 46, ../sass/framework/_wellejus.base.scss */
em {
  font-family: "Verdana";
  font-weight: normal;
  font-style: italic;
}
/* line 49, ../sass/framework/_wellejus.base.scss */
em strong {
  font-family: "Verdana";
  font-weight: bold;
}

/* override ALL link styles */
/* line 57, ../sass/framework/_wellejus.base.scss */
#w a:link {
  text-decoration: none;
}
/* line 61, ../sass/framework/_wellejus.base.scss */
#w a:hover {
  text-decoration: underline;
}
/* line 65, ../sass/framework/_wellejus.base.scss */
#w a:active {
  text-decoration: underline;
}

/* line 76, ../sass/framework/_wellejus.base.scss */
#toolbar a:link, #toolbar a:visited, #toolbar a:hover, #toolbar a:focus, #toolbar a:active {
  text-decoration: none;
}

/* body content default styles
   ========================================================================== */
/* line 87, ../sass/framework/_wellejus.base.scss */
.field-name-field-ding-event-body img,
.field-name-field-ding-news-body img,
.field-name-field-ding-page-body img {
  float: left;
  margin: 0 20px 10px 0;
}

/* RSS feed links
   ========================================================================== */
/* line 95, ../sass/framework/_wellejus.base.scss */
.feed-icon:before {
  color: #FFA500;
  content: " ";
  font-family: FontAwesome;
}

/**
 * Buttons for wellejus
 *
 * @author wiredloose
 */
/* line 10, ../sass/framework/_wellejus.buttons.scss */
.field-type-ding-entity-buttons form input {
  height: 40px;
}
/* line 14, ../sass/framework/_wellejus.buttons.scss */
.field-type-ding-entity-buttons .reserve-button {
  margin-left: 10px;
}

/**
 * Navigation for wellejus theme
 *
 * @author wiredloose
 */
/* Topbar menu
   ========================================================================== */
/* line 11, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu {
  display: block;
  /* Media queries */
}
/* line 14, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu .menu-item {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: black;
}
/* line 19, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu .menu-item.active {
  background-color: #50ba00;
  background-color: #50ba00;
  background-color: rgba(80, 186, 0, 0.7);
}
@media only screen and (min-width: 769px) {
  /* line 11, ../sass/framework/_wellejus.navigation.scss */
  .topbar-menu {
    display: none;
  }
}

/* Navigation, main menu and secondary menu
   ========================================================================== */
/* Media queries */
@media only screen and (max-width: 768px) {
  /* line 38, ../sass/framework/_wellejus.navigation.scss */
  .navigation-wrapper {
    background-color: #50ba00;
    background-color: rgba(80, 186, 0, 0.7);
  }

  /* line 43, ../sass/framework/_wellejus.navigation.scss */
  #w .main-menu-wrapper .menu-item,
  #w .secondary-menu-wrapper .menu-item {
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 769px) {
  /* line 51, ../sass/framework/_wellejus.navigation.scss */
  .main-menu-wrapper {
    width: 80%;
    margin-right: -80%;
    padding-left: 20px;
  }

  /* line 58, ../sass/framework/_wellejus.navigation.scss */
  .main-menu .menu-item {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 10px;
    margin: 10px 0;
  }
  /* line 65, ../sass/framework/_wellejus.navigation.scss */
  .main-menu .menu-item.active {
    background: #7d7e7d;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%);
    /* W3C */
    color: #EEEEEE;
    text-decoration: none;
  }
  /* line 78, ../sass/framework/_wellejus.navigation.scss */
  .main-menu .menu-item:focus, .main-menu .menu-item:hover {
    background: none;
    background-color: black;
    color: white;
    text-decoration: none;
  }
}
@media only screen and (min-width: 769px) {
  /* line 94, ../sass/framework/_wellejus.navigation.scss */
  #w .main-menu .menu-item:link, #w .main-menu .menu-item:visited {
    color: #959595;
    text-decoration: none;
  }
  /* line 100, ../sass/framework/_wellejus.navigation.scss */
  #w .main-menu .menu-item:focus, #w .main-menu .menu-item:hover {
    color: white;
    text-decoration: none;
  }
  /* line 105, ../sass/framework/_wellejus.navigation.scss */
  #w .main-menu .menu-item.active {
    color: #EEEEEE;
  }
}
/* Nav helper links
   ========================================================================== */
/* line 115, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers {
  float: right;
  padding: 0;
  width: 30%;
}
/* line 120, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers li {
  float: right;
}
/* line 124, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers a {
  display: inline-block;
  margin: 10px;
  padding: 6px 0;
}
/* line 130, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers a:before {
  font-family: FontAwesome;
  color: #000;
}
/* line 135, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers .print:before {
  content: " ";
}
/* line 139, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers .read:before {
  content: " ";
}
/* line 143, ../sass/framework/_wellejus.navigation.scss */
.nav-helpers .english:before {
  content: " ";
}

/* Media queries */
@media only screen and (max-width: 768px) {
  /* line 152, ../sass/framework/_wellejus.navigation.scss */
  .nav-helpers {
    clear: left;
    padding: 0;
    width: 100%;
  }
  /* line 157, ../sass/framework/_wellejus.navigation.scss */
  .nav-helpers ul {
    padding: 0 10px;
    margin: 20px 0;
  }
  /* line 162, ../sass/framework/_wellejus.navigation.scss */
  .nav-helpers li {
    margin: 0;
    height: 40px;
    line-height: 40px;
    width: 95%;
  }
  /* line 170, ../sass/framework/_wellejus.navigation.scss */
  .nav-helpers a,
  .nav-helpers a:before {
    color: white;
  }
}
/* Sub menu
   ========================================================================== */
/* line 181, ../sass/framework/_wellejus.navigation.scss */
.sub-menu-title {
  font-family: "Verdana", Arial, sans-serif;
  font-weight: normal;
}

/* line 190, ../sass/framework/_wellejus.navigation.scss */
.sub-menu > li a {
  color: #607f0c;
}
/* line 193, ../sass/framework/_wellejus.navigation.scss */
.sub-menu > li a.active {
  font-family: "Verdana";
  font-weight: bold;
}
/* line 198, ../sass/framework/_wellejus.navigation.scss */
.sub-menu > li a:hover {
  text-decoration: none;
  color: #607f0c;
}
/* line 206, ../sass/framework/_wellejus.navigation.scss */
.sub-menu li:before {
  color: #607f0c;
}

/* Footer menus
   ========================================================================== */
/* line 218, ../sass/framework/_wellejus.navigation.scss */
.footer .pane-title {
  color: black;
  border-bottom: none;
}
/* line 225, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li {
  margin-bottom: 0;
}
/* line 228, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li:before {
  color: black;
}
/* line 233, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li a,
.footer .menu li a.active {
  color: black;
}

/* Action Links
   ========================================================================== */
/* line 245, ../sass/framework/_wellejus.navigation.scss */
.action-links li a {
  font-family: "Verdana", Arial, sans-serif;
}

/**
 * Labels for wellejus
 *
 * @author wiredloose
 */
/* line 9, ../sass/framework/_wellejus.labels.scss */
#w .label,
#w .news-label {
  text-shadow: none;
  padding: 0 10px 0 0;
}

/**
 * Modal popup styling (from jquery ui library) for wellejus
 *
 * @author wiredloose
 */
/* line 8, ../sass/framework/_wellejus.modal.scss */
.ui-dialog {
  background: #50BA00;
}

/**
 * Layout
 *
 * Base layout for wellejus theme
 *
 * @author wiredloose
 */
/* Page
   ========================================================================== */
/* line 12, ../sass/layout/_wellejus.layout.scss */
.ding2-site-template {
  padding: 10px;
}

/* line 17, ../sass/layout/_wellejus.layout.scss */
.site-header,
.footer {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 5px 8px #666666;
}

/* line 23, ../sass/layout/_wellejus.layout.scss */
.content-wrapper {
  margin-top: 10px;
}

/* line 27, ../sass/layout/_wellejus.layout.scss */
.content-inner {
  background-color: #ffffff;
  box-shadow: 5px 5px 8px #666666;
  margin-bottom: 10px;
}

/* line 34, ../sass/layout/_wellejus.layout.scss */
.default-layout,
.frontpage-layout {
  margin-top: 0;
}
/* line 37, ../sass/layout/_wellejus.layout.scss */
.default-layout .layout-wrapper,
.frontpage-layout .layout-wrapper {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/* Media queries */
@media only screen and (min-width: 769px) {
  /* line 49, ../sass/layout/_wellejus.layout.scss */
  .content-inner .pane-page-content {
    padding: 20px 10px;
  }
}
/* Sections
   ========================================================================== */
/* line 57, ../sass/layout/_wellejus.layout.scss */
.navigation-wrapper {
  width: inherit;
  clear: both;
}

/* Site-header
   ========================================================================== */
/* line 65, ../sass/layout/_wellejus.layout.scss */
.logo {
  margin: 30px 20px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  /* line 72, ../sass/layout/_wellejus.layout.scss */
  .logo {
    height: inherit;
    margin: 10px;
    width: 50%;
  }
  /* line 77, ../sass/layout/_wellejus.layout.scss */
  .logo img {
    height: inherit;
    margin-top: 0;
  }
}
/* Header wrapper
   ========================================================================== */
/* line 87, ../sass/layout/_wellejus.layout.scss */
.header-wrapper {
  background-color: #50ba00;
  background-color: rgba(80, 186, 0, 0.7);
  /* Media queries */
}
@media only screen and (min-width: 769px) {
  /* line 93, ../sass/layout/_wellejus.layout.scss */
  .header-wrapper .header-inner .pane-search-form {
    width: 60%;
    float: left;
  }
  /* line 99, ../sass/layout/_wellejus.layout.scss */
  .header-wrapper .header-inner .pane-user-login,
  .header-wrapper .header-inner .pane-vejlebib-views-panels-vejlebib-ding-userinfo {
    margin-left: 67%;
    width: 30%;
  }
}

/* Footer
   ========================================================================== */
/* line 110, ../sass/layout/_wellejus.layout.scss */
.footer {
  padding-top: 0;
}

/* line 114, ../sass/layout/_wellejus.layout.scss */
.footer-inner {
  padding: 20px;
}
/* line 119, ../sass/layout/_wellejus.layout.scss */
.footer-inner a:hover, .footer-inner a:focus {
  font-weight: bold;
}

/* Bottom
   ========================================================================== */
/* line 128, ../sass/layout/_wellejus.layout.scss */
.bottom {
  padding: 0;
  color: #808080;
}

/* line 133, ../sass/layout/_wellejus.layout.scss */
.bottom p {
  border-top: 1px solid #C0C0C0;
  line-height: 3em;
  margin: 0 20px;
}

/**
 * Typography for wellejus
 *
 * @author wiredloose
 */
/* Header variants
   ========================================================================== */
/* line 11, ../sass/layout/_wellejus.typography.scss */
.page-title {
  font-family: "Verdana";
  font-weight: bold;
  font-size: 170%;
}
@media only screen and (max-width: 480px) {
  /* line 11, ../sass/layout/_wellejus.typography.scss */
  .page-title {
    font-size: 120%;
  }
}

/* line 21, ../sass/layout/_wellejus.typography.scss */
.pane-title {
  font-family: "Verdana";
  font-weight: bold;
  font-size: 130%;
}

/* Content and elements
   ========================================================================== */
/* line 31, ../sass/layout/_wellejus.typography.scss */
.page-lead {
  font-family: "Verdana";
  font-weight: bold;
}

/**
 * Search for wellejus theme
 *
 *
 * @author wiredloose
 */
/* Search in header
   ========================================================================== */
/* line 14, ../sass/module/_wellejus.search.scss */
.search .form-item-search-block-form label {
  color: white;
  font-size: 250%;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 21, ../sass/module/_wellejus.search.scss */
.search .form-text {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  min-height: 65px;
}
/* line 26, ../sass/module/_wellejus.search.scss */
.search .form-submit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: solid white 1px;
  min-height: 65px;
  text-transform: uppercase;
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */
}
/* line 41, ../sass/module/_wellejus.search.scss */
.search .form-submit:focus, .search .form-submit:hover, .search .form-submit:active {
  background: none;
  background-color: black;
}

/* Search results list
   ========================================================================== */
/* line 56, ../sass/module/_wellejus.search.scss */
.pane-search-result .search-results .list .list-item {
  padding: 10px 0 0;
  border-bottom: 1px solid #EFEFEF;
  background: none;
}
/* line 62, ../sass/module/_wellejus.search.scss */
.pane-search-result .search-results .list .view-mode-teaser {
  padding: 0 0 10px;
}
/* line 65, ../sass/module/_wellejus.search.scss */
.pane-search-result .search-results .list .view-mode-teaser .content {
  font-size: 85%;
}
/* line 70, ../sass/module/_wellejus.search.scss */
.pane-search-result .search-results .list .search-result--heading-type {
  text-transform: uppercase;
  font-size: 75%;
}
/* line 75, ../sass/module/_wellejus.search.scss */
.pane-search-result .search-results .list .search-result--availability {
  border-top: 1px solid #EFEFEF;
  margin-top: 0;
  padding-top: 0;
  margin-left: -86%;
  width: 86%;
}

/* Collection display
   ========================================================================== */
/* line 93, ../sass/module/_wellejus.search.scss */
.pane-ting-collection .ting-collection-wrapper {
  padding: 0;
  border-bottom: 1px solid #EEEEEE;
}
/* line 98, ../sass/module/_wellejus.search.scss */
.pane-ting-collection .ting-collection-inner-wrapper {
  padding: 10px 10px 20px;
}
/* line 103, ../sass/module/_wellejus.search.scss */
.pane-ting-collection .field.field-name-ting-abstract,
.pane-ting-collection .field.field-name-ting-series {
  border-bottom: none;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 85%;
}

/* line 112, ../sass/module/_wellejus.search.scss */
.ting-collection-inner-wrapper > h2 {
  display: none;
}

/* Object display
   ========================================================================== */
/* line 122, ../sass/module/_wellejus.search.scss */
.pane-ting-object .ting-object-wrapper {
  padding: 0;
  border-bottom: 1px solid #EEEEEE;
}
/* line 127, ../sass/module/_wellejus.search.scss */
.pane-ting-object .ting-object-inner-wrapper {
  padding: 10px 10px 20px;
}
/* line 132, ../sass/module/_wellejus.search.scss */
.pane-ting-object .field.field-name-ting-abstract,
.pane-ting-object .field.field-name-ting-series {
  border-bottom: none;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 85%;
}
/* line 141, ../sass/module/_wellejus.search.scss */
.pane-ting-object .collapsible .field-group-format-title:before,
.pane-ting-object .ding-periodical-fold:before {
  color: #607f0c;
}

/* Availability
   ========================================================================== */
/* line 151, ../sass/module/_wellejus.search.scss */
.search-result--availability-link:before {
  content: " ";
  font-family: FontAwesome;
}

/* line 161, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.pending,
.pane-ting-object li.pending {
  background-color: #959595;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.pending a,
.pane-ting-object li.pending a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.pending a:hover,
.pane-ting-object li.pending a:hover {
  text-decoration: none;
}
/* line 165, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.processed,
.pane-ting-object li.availability.processed {
  background-color: #959595;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.processed a,
.pane-ting-object li.availability.processed a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.processed a:hover,
.pane-ting-object li.availability.processed a:hover {
  text-decoration: none;
}
/* line 169, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.available,
.pane-ting-object li.availability.available {
  background-color: #528c10;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available a,
.pane-ting-object li.availability.available a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available a:hover,
.pane-ting-object li.availability.available a:hover {
  text-decoration: none;
}
/* line 173, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.reservable,
.pane-ting-object li.availability.reservable {
  background-color: #f0cb28;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.reservable a,
.pane-ting-object li.availability.reservable a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.reservable a:hover,
.pane-ting-object li.availability.reservable a:hover {
  text-decoration: none;
}
/* line 177, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.available.reservable,
.pane-ting-object li.availability.available.reservable {
  background-color: #528c10;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available.reservable a,
.pane-ting-object li.availability.available.reservable a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available.reservable a:hover,
.pane-ting-object li.availability.available.reservable a:hover {
  text-decoration: none;
}
/* line 181, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.available.not-reservable,
.pane-ting-object li.availability.available.not-reservable {
  background-color: #a32e10;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available.not-reservable a,
.pane-ting-object li.availability.available.not-reservable a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.available.not-reservable a:hover,
.pane-ting-object li.availability.available.not-reservable a:hover {
  text-decoration: none;
}
/* line 185, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.unavailable.reservable,
.pane-ting-object li.availability.unavailable.reservable {
  background-color: #f0cb28;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.unavailable.reservable a,
.pane-ting-object li.availability.unavailable.reservable a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.unavailable.reservable a:hover,
.pane-ting-object li.availability.unavailable.reservable a:hover {
  text-decoration: none;
}
/* line 189, ../sass/module/_wellejus.search.scss */
.pane-ting-collection li.availability.unavailable.not-reservable,
.pane-ting-object li.availability.unavailable.not-reservable {
  background-color: #a32e10;
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 127, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.unavailable.not-reservable a,
.pane-ting-object li.availability.unavailable.not-reservable a {
  color: #fff;
  display: block;
}
/* line 131, ../sass/framework/_wellejus.mixins.scss */
.pane-ting-collection li.availability.unavailable.not-reservable a:hover,
.pane-ting-object li.availability.unavailable.not-reservable a:hover {
  text-decoration: none;
}

/* Subjects
   ========================================================================== */
/* line 201, ../sass/module/_wellejus.search.scss */
#w .ting-object .subject {
  background-color: transparent;
  text-shadow: none;
  padding: 0;
}
/* line 207, ../sass/module/_wellejus.search.scss */
#w .ting-object .subjects:before {
  content: "Emner: ";
}

/* Layout
   ========================================================================== */
/* line 216, ../sass/module/_wellejus.search.scss */
.ting-object-left {
  margin-right: -14%;
  width: 14%;
}

/* line 221, ../sass/module/_wellejus.search.scss */
.ting-object-right {
  margin-left: -86%;
  width: 86%;
}

/**
 * News for wellejus theme
 *
 * Uses shared %article @extends
 *
 * @author wiredloose
 */
/* line 11, ../sass/module/_wellejus.news.scss */
.news-list .news-list-item {
  border-top: 1px solid #C0C0C0;
}
/* line 15, ../sass/module/_wellejus.news.scss */
.news-list .news-list-item:first-child {
  border-top: none;
}

/* line 23, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-list-item {
  padding: 20px 0 0;
}
/* line 26, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-list-item:first-child {
  padding-top: 0;
}
/* line 30, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-list-item:first-child .news-sub-heading {
  margin-top: 0;
}
/* line 37, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-sub-heading,
.view-vejlebib-ding-news .news-list .news-heading,
.view-vejlebib-ding-news .news-list .news-list-content {
  margin: 0;
}
/* line 41, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-link {
  float: none;
}
/* line 45, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-label {
  background-color: white;
  text-shadow: none;
  padding: 0;
}
/* line 50, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-label a {
  padding: 0;
  background-color: white;
  font-size: 110%;
  text-transform: uppercase;
}
/* line 58, ../sass/module/_wellejus.news.scss */
.view-vejlebib-ding-news .news-list .news-heading {
  text-transform: uppercase;
  font-size: 170%;
}

/* line 66, ../sass/module/_wellejus.news.scss */
#w .view-vejlebib-ding-news .news-label a {
  color: black;
}

/**
 * Event styling for wellejus theme
 *
 * @author wiredloose
 */
/* Event list
   ========================================================================== */
/* line 12, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf {
  padding-left: 75px;
}
/* line 15, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper {
  box-shadow: 2px 2px 2px;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 23, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.vejle {
  border: 1px solid #95c127;
}
/* line 27, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.borkop {
  border: 1px solid #e4032e;
}
/* line 31, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.egtved {
  border: 1px solid #951b81;
}
/* line 35, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.give {
  border: 1px solid #f39200;
}
/* line 39, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.jelling {
  border: 1px solid #008bd2;
}
/* line 45, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-day {
  text-shadow: none;
}
/* line 49, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-date {
  font-size: 280%;
  margin-bottom: -5px;
}
/* line 55, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .vejle .event-list-day {
  background-color: #95c127;
}
/* line 59, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .borkop .event-list-day {
  background-color: #e4032e;
}
/* line 63, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .egtved .event-list-day {
  background-color: #951b81;
}
/* line 67, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .give .event-list-day {
  background-color: #f39200;
}
/* line 71, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .jelling .event-list-day {
  background-color: #008bd2;
}
/* line 75, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-heading {
  margin-bottom: 0;
  font-size: 130%;
}
/* line 80, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-location {
  display: block;
}
/* line 84, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-time:before {
  content: "\f017  ";
  font-family: FontAwesome;
}

/* line 91, ../sass/module/_wellejus.event.scss */
.frontpage-layout .pane-vejlebib-ding-event-vejlebib-ding-event-list .pane-title {
  background: black;
  color: white;
  font-size: 1em;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

/* Event
   ========================================================================== */
/* line 104, ../sass/module/_wellejus.event.scss */
.event {
  /* Media queries */
}
/* line 107, ../sass/module/_wellejus.event.scss */
.event .event-info div {
  border-left: 5px solid #efefef;
}
@media only screen and (max-width: 768px) {
  /* line 115, ../sass/module/_wellejus.event.scss */
  .event .event-info div {
    background-color: #efefef;
    border-left: 0;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

/**
 * Opening hours for wellejus
 *
 * @author wiredloose
 */
/* line 8, ../sass/module/_wellejus.openinghours.scss */
.opening-hours-list .tipsy-oho .close:after {
  content: " ";
  font-family: FontAwesome;
}

/* opening hours today block in normal position on page
   ========================================================================== */
/* line 19, ../sass/module/_wellejus.openinghours.scss */
.hours.panel-pane {
  padding: 30px 20px;
}
/* line 24, ../sass/module/_wellejus.openinghours.scss */
.hours .openhours-today-wrapper h2 {
  color: #FFFFFF;
  font-size: 140%;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
/* line 31, ../sass/module/_wellejus.openinghours.scss */
.hours .openhours-today-wrapper .title:before {
  content: "\f105  ";
  font-family: FontAwesome;
}
/* line 37, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list {
  padding-left: 10px;
}
/* line 40, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  clear: both;
  height: 2em;
  padding: 10px 0;
  color: white;
}
/* line 47, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list li a {
  color: white;
}
/* line 52, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list .tipsy-oho .close:after {
  color: white;
  font-size: 140%;
}

/* opening hours today block placed in topbar
   ========================================================================== */
/* line 64, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .openhours-today-wrapper {
  top: 0.8em;
  left: 40%;
  position: absolute;
  width: 60%;
}
/* line 65, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .openhours-today-wrapper h2 {
  font-size: 120%;
  margin-bottom: 0;
}
/* line 76, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .opening-hours-list {
  padding-left: 0;
}
/* line 79, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .opening-hours-list li {
  float: left;
  width: 50%;
}
/* line 85, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .opening-hours-list .details span {
  line-height: 14px;
}

/**
 * User styling for wellejus theme
 *
 * @author wiredloose
 */
/* User login in header
   ========================================================================== */
/* line 11, ../sass/module/_wellejus.user.scss */
.user {
  /* Media queries */
}
/* line 12, ../sass/module/_wellejus.user.scss */
.user .form-text {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 17, ../sass/module/_wellejus.user.scss */
.user .form-item-name label,
.user .form-item-pass label {
  color: white;
  font-size: 140%;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 24, ../sass/module/_wellejus.user.scss */
.user .form-submit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: solid white 1px;
  min-height: 65px;
  text-transform: uppercase;
  padding: 0;
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */
}
/* line 40, ../sass/module/_wellejus.user.scss */
.user .form-submit:focus, .user .form-submit:hover, .user .form-submit:active {
  background: none;
  background-color: black;
}
/* line 47, ../sass/module/_wellejus.user.scss */
.user.vejlebib-user-info li {
  float: left;
  width: 48%;
}
/* line 52, ../sass/module/_wellejus.user.scss */
.user.vejlebib-user-info .button {
  padding: 3px;
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  background: #7d7e7d;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */
}
/* line 67, ../sass/module/_wellejus.user.scss */
.user.vejlebib-user-info .button:focus, .user.vejlebib-user-info .button:hover, .user.vejlebib-user-info .button:active {
  background: none;
  background-color: black;
}
/* line 73, ../sass/module/_wellejus.user.scss */
.user.vejlebib-user-info .username {
  margin: 2px 0 5px;
}
/* line 76, ../sass/module/_wellejus.user.scss */
.user.vejlebib-user-info .username a {
  color: #FFFFFF;
  font-size: 120%;
  font-weight: bold;
}
@media only screen and (min-width: 769px) {
  /* line 11, ../sass/module/_wellejus.user.scss */
  .user {
    min-height: 30px;
    overflow: visible;
  }
  /* line 86, ../sass/module/_wellejus.user.scss */
  .user ul {
    padding-left: 0;
  }
  /* line 95, ../sass/module/_wellejus.user.scss */
  .user .form-item-name,
  .user .form-item-pass {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    float: none;
    width: 68%;
  }
  /* line 106, ../sass/module/_wellejus.user.scss */
  .user .form-item-name label,
  .user .form-item-pass label {
    font-size: 250%;
  }
  /* line 110, ../sass/module/_wellejus.user.scss */
  .user [class^="icon-"] {
    left: 16px;
    bottom: 5px;
    font-size: 120%;
  }
  /* line 116, ../sass/module/_wellejus.user.scss */
  .user .form-item-pass label {
    display: none;
  }
  /* line 120, ../sass/module/_wellejus.user.scss */
  .user .form-text {
    min-height: 30px;
  }
}

/**
 * Tabroll for wellejus theme
 *
 * @author wiredloose
 */
/* Tabroll tabs
   ========================================================================== */
/* line 14, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav {
  right: 0;
}
/* line 17, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav li {
  background-color: #b2b2b2;
  border-top: none;
}
/* line 21, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav li a {
  font-weight: bold;
  border-bottom: 1px solid #666666 !important;
  border-top: 1px solid #D5D5D5;
  height: 97%;
  text-transform: uppercase;
}
/* line 28, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav li a:before {
  display: none;
}
/* line 32, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav li a span {
  margin: .5em;
  display: block;
  text-align: left;
  overflow: hidden;
  height: 70%;
}
/* line 42, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav li:first-child {
  margin-top: -1px;
}
/* line 47, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel {
  float: left;
}
/* line 50, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel .info {
  bottom: 0;
  right: inherit;
  width: 100%;
  height: 25%;
  padding: 10px 0;
}
/* line 57, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel .info h3 {
  margin: 0 10px;
  text-transform: uppercase;
}
/* line 62, ../sass/module/_wellejus.tabroll.scss */
.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel .info p {
  margin: 0 10px;
}

/* line 73, ../sass/module/_wellejus.tabroll.scss */
#w .ding-tabroll-wrapper a,
#w .ding-tabroll-wrapper h3 a {
  color: #FFFFFF;
}

/**
 * Tipsy for wellejus
 *
 * @author wiredloose
 */
/* line 7, ../sass/module/_wellejus.tipsy.scss */
.tipsy-inner {
  font-size: 14px;
  max-width: 250px;
}

/**
 * Ting Extrasearch for wellejus
 *
 * @author wiredloose
 */
/* Extrasearch in content
   ========================================================================== */
/* line 10, ../sass/module/_wellejus.extrasearch.scss */
.page-search .pane-extrasearch-per-page {
  float: right;
  width: 50%;
  margin-right: 0%;
  margin-left: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 14, ../sass/module/_wellejus.extrasearch.scss */
.page-search .pane-ting-extrasearch-sort-form {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: none;
  overflow: visible;
}

/* line 20, ../sass/module/_wellejus.extrasearch.scss */
.page-search .pane-ting-extrasearch-sort-form {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  /* line 20, ../sass/module/_wellejus.extrasearch.scss */
  .page-search .pane-ting-extrasearch-sort-form {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}
