@charset "UTF-8";
/**
 * Variables for wellejus theme
 *
 * @author wiredloose
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Colors that can be configured for wellejus theme through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author wiredloose
 */
/* Topbar */
/* Header */
/* Navigation */
/* Links */
/* Labels */
/* Content */
/* List */
/* Footer */
/* Library colors */
/**
 * Rules that can be configured for wellejus theme is located in this file.
 *
 * @author wiredloose
 */
/* Topbar background color */
/* line 9, ../sass/configuration/_wellejus.configuration.scss */
.topbar {
  background-color: white;
}

/* Header background color */
/* line 16, ../sass/configuration/_wellejus.configuration.scss */
.header-wrapper {
  background-color: #50ba00;
}

/* Navigation background color */
/* line 23, ../sass/configuration/_wellejus.configuration.scss */
.navigation-wrapper {
  background-color: white;
}

/* Links */
/* line 30, ../sass/configuration/_wellejus.configuration.scss */
a {
  font-weight: normal;
}
/* line 33, ../sass/configuration/_wellejus.configuration.scss */
a:link {
  color: #00b7e7;
  text-decoration: none;
}
/* line 38, ../sass/configuration/_wellejus.configuration.scss */
a:visited {
  color: #007a9b;
  text-decoration: none;
}
/* line 43, ../sass/configuration/_wellejus.configuration.scss */
a:hover {
  color: #006681;
  text-decoration: underline;
}
/* line 47, ../sass/configuration/_wellejus.configuration.scss */
a:hover i[class^="icon-"] {
  text-decoration: none;
}
/* line 52, ../sass/configuration/_wellejus.configuration.scss */
a:focus {
  color: #006681;
}

/* Layout background color */
/* line 60, ../sass/configuration/_wellejus.configuration.scss */
.layout-wrapper {
  background-color: #fffffe;
}

/* Article background extends */
/* line 67, ../sass/configuration/_wellejus.configuration.scss */
.news-list .news-list-item {
  background-color: white;
}

/* line 71, ../sass/configuration/_wellejus.configuration.scss */
.news-list .news-list-item:nth-child(odd), .event-list .event-list-item:nth-child(odd) {
  background-color: white;
}

/* line 75, ../sass/configuration/_wellejus.configuration.scss */
.news-list .news-list-item:nth-child(even), .event-list .event-list-item:nth-child(even) {
  background-color: white;
}

/* Footer background color */
/* line 82, ../sass/configuration/_wellejus.configuration.scss */
.footer {
  background-color: transparent;
}

/* line 86, ../sass/configuration/_wellejus.configuration.scss */
.footer-inner {
  background-color: white;
}

/* Bottom background color */
/* line 93, ../sass/configuration/_wellejus.configuration.scss */
.bottom {
  background-color: transparent;
}

/* line 97, ../sass/configuration/_wellejus.configuration.scss */
.bottom .panel-pane {
  background-color: white;
}

/**
 * Base for wellejus theme
 *
 * @author wiredloose
 */
/* line 9, ../sass/framework/_wellejus.base.scss */
body {
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Verdana", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/* line 18, ../sass/framework/_wellejus.base.scss */
h1 {
  font-size: 170%;
}

/* line 22, ../sass/framework/_wellejus.base.scss */
h2 {
  font-size: 140%;
}

/* line 26, ../sass/framework/_wellejus.base.scss */
h3 {
  font-size: 130%;
}

/* line 30, ../sass/framework/_wellejus.base.scss */
h4 {
  font-size: 120%;
}

/* line 34, ../sass/framework/_wellejus.base.scss */
h5 {
  font-size: 110%;
}

/* line 38, ../sass/framework/_wellejus.base.scss */
h6 {
  font-size: 100%;
}

/**
 * Mixins for wellejus theme
 *
 * @author wiredloose
 */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/**
 * Navigation for wellejus theme
 *
 * @author wiredloose
 */
/* Topbar menu
   ========================================================================== */
/* line 11, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu {
  /* Media queries */
}
/* line 12, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu .menu-item {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: black;
}
/* line 17, ../sass/framework/_wellejus.navigation.scss */
.topbar-menu .menu-item.active {
  background-color: #50ba00;
  background-color: #50ba00;
  background-color: rgba(80, 186, 0, 0.7);
}
@media only screen and (min-width: 769px) {
  /* line 11, ../sass/framework/_wellejus.navigation.scss */
  .topbar-menu {
    display: none;
  }
}

/* Navigation, main menu and secondary menu
   ========================================================================== */
/* line 33, ../sass/framework/_wellejus.navigation.scss */
.navigation-wrapper {
  /* Media queries */
}
@media only screen and (max-width: 768px) {
  /* line 33, ../sass/framework/_wellejus.navigation.scss */
  .navigation-wrapper {
    background-color: #50ba00;
    background-color: rgba(80, 186, 0, 0.7);
  }
}

/* Footer menus
   ========================================================================== */
/* line 45, ../sass/framework/_wellejus.navigation.scss */
.footer .pane-title {
  color: black;
  border-bottom: none;
}
/* line 52, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li {
  margin-bottom: 0;
}
/* line 55, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li:before {
  color: black;
}
/* line 60, ../sass/framework/_wellejus.navigation.scss */
.footer .menu li a,
.footer .menu li a.active {
  color: black;
}

/**
 * Layout
 *
 * Base layout for wellejus theme
 *
 * @author wiredloose
 */
/* Page
   ========================================================================== */
/* line 12, ../sass/layout/_wellejus.layout.scss */
.ding2-site-template {
  padding: 10px;
}

/* line 17, ../sass/layout/_wellejus.layout.scss */
.site-header,
.footer {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 5px 8px #666666;
}

/* line 23, ../sass/layout/_wellejus.layout.scss */
.content-wrapper {
  margin-top: 10px;
}

/* line 28, ../sass/layout/_wellejus.layout.scss */
.frontpage-layout,
.default-layout {
  background-color: #ffffff;
  box-shadow: 5px 5px 8px #666666;
  margin-bottom: 10px;
}

/* Sections
   ========================================================================== */
/* line 36, ../sass/layout/_wellejus.layout.scss */
.navigation-wrapper {
  width: inherit;
  clear: both;
}

/* Site-header
   ========================================================================== */
/* line 44, ../sass/layout/_wellejus.layout.scss */
.logo {
  margin: 30px 20px;
}

/* Header wrapper
   ========================================================================== */
/* line 50, ../sass/layout/_wellejus.layout.scss */
.header-wrapper {
  background-color: #50ba00;
  background-color: rgba(80, 186, 0, 0.7);
  /* Media queries */
}
@media only screen and (min-width: 769px) {
  /* line 56, ../sass/layout/_wellejus.layout.scss */
  .header-wrapper .header-inner .pane-search-form {
    width: 60%;
    float: left;
  }
  /* line 61, ../sass/layout/_wellejus.layout.scss */
  .header-wrapper .header-inner .pane-user-login {
    margin-left: 67%;
    width: 30%;
  }
}

/* Footer
   ========================================================================== */
/* line 72, ../sass/layout/_wellejus.layout.scss */
.footer {
  padding-top: 0;
}

/* line 76, ../sass/layout/_wellejus.layout.scss */
.footer-inner {
  padding: 20px;
}

/* Bottom
   ========================================================================== */
/* line 83, ../sass/layout/_wellejus.layout.scss */
.bottom {
  padding: 0;
  color: black;
}

/* line 88, ../sass/layout/_wellejus.layout.scss */
.bottom p {
  border-top: 1px solid #C0C0C0;
  color: #808080;
  line-height: 3em;
  margin: 0 20px;
}

/**
 * Search for wellejus theme
 *
 *
 * @author wiredloose
 */
/* Search in header
   ========================================================================== */
/* line 14, ../sass/module/_wellejus.search.scss */
.search [class^="label-"] {
  color: white;
  font-size: 140%;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 21, ../sass/module/_wellejus.search.scss */
.search .form-text {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  min-height: 65px;
}
/* line 26, ../sass/module/_wellejus.search.scss */
.search .form-submit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: solid white 1px;
  min-height: 65px;
  text-transform: uppercase;
}

/**
 * News for wellejus theme
 *
 * Uses shared %article @extends
 *
 * @author wiredloose
 */
/* line 11, ../sass/module/_wellejus.news.scss */
.news-list .news-list-item {
  border-top: 1px solid #C0C0C0;
}
/* line 16, ../sass/module/_wellejus.news.scss */
.news-list .news-list-item:first-child {
  border-top: none;
}

/**
 * Event styling for wellejus theme
 *
 * @author wiredloose
 */
/* Event list
   ========================================================================== */
/* line 25, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper {
  box-shadow: 2px 2px 2px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 32, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.vejle {
  border: 1px solid #95c127;
}
/* line 36, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.borkop {
  border: 1px solid #e4032e;
}
/* line 40, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.egtved {
  border: 1px solid #951b81;
}
/* line 44, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.give {
  border: 1px solid #f39200;
}
/* line 48, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-leaf .event-list-date-wrapper.jelling {
  border: 1px solid #008bd2;
}
/* line 53, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-day {
  text-shadow: none;
}
/* line 57, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-date {
  font-size: 280%;
  margin-bottom: -5px;
}
/* line 63, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .vejle .event-list-day {
  background-color: #95c127;
}
/* line 67, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .borkop .event-list-day {
  background-color: #e4032e;
}
/* line 71, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .egtved .event-list-day {
  background-color: #951b81;
}
/* line 75, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .give .event-list-day {
  background-color: #f39200;
}
/* line 79, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .jelling .event-list-day {
  background-color: #008bd2;
}
/* line 83, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-heading {
  margin-bottom: 0;
  font-size: 130%;
}
/* line 88, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-location {
  display: block;
}
/* line 92, ../sass/module/_wellejus.event.scss */
.view-vejlebib-ding-event .event-list-time:before {
  content: "\f017  ";
  font-family: FontAwesome;
}

/**
 * Opening hours for wellejus
 *
 * @author wiredloose
 */
/* line 8, ../sass/module/_wellejus.openinghours.scss */
.opening-hours-list .tipsy-oho .close:after {
  content: " ÔÅï";
  font-family: FontAwesome;
}

/* opening hours today block in normal position on page
   ========================================================================== */
/* line 18, ../sass/module/_wellejus.openinghours.scss */
.hours {
  padding: 30px 20px;
}
/* line 22, ../sass/module/_wellejus.openinghours.scss */
.hours .openhours-today-wrapper h2 {
  color: #FFFFFF;
  font-size: 140%;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
/* line 29, ../sass/module/_wellejus.openinghours.scss */
.hours .openhours-today-wrapper .title:before {
  content: "\f105  ";
  font-family: FontAwesome;
}
/* line 35, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list {
  padding-left: 10px;
}
/* line 38, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  clear: both;
  height: 2em;
  padding: 10px 0;
  color: white;
}
/* line 45, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list li a {
  color: white;
}
/* line 50, ../sass/module/_wellejus.openinghours.scss */
.hours .opening-hours-list .tipsy-oho .close:after {
  color: white;
  font-size: 140%;
}

/* opening hours today block placed in topbar
   ========================================================================== */
/* line 62, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .openhours-today-wrapper {
  top: 0.8em;
  left: 40%;
  position: absolute;
  width: 60%;
}
/* line 63, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .openhours-today-wrapper h2 {
  font-size: 120%;
  margin-bottom: 0;
}
/* line 74, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .opening-hours-list {
  padding-left: 0;
}
/* line 77, ../sass/module/_wellejus.openinghours.scss */
.topbar-inner .opening-hours-list li {
  float: left;
  width: 50%;
}

/**
 * User styling for wellejus theme
 *
 * @author wiredloose
 */
/* User login in header
   ========================================================================== */
/* line 11, ../sass/module/_wellejus.user.scss */
.user {
  /* Media queries */
}
@media only screen and (min-width: 769px) {
  /* line 11, ../sass/module/_wellejus.user.scss */
  .user {
    min-height: 30px;
    overflow: visible;
  }
  /* line 19, ../sass/module/_wellejus.user.scss */
  .user .form-item-name,
  .user .form-item-pass {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    float: none;
    width: 68%;
  }
  /* line 29, ../sass/module/_wellejus.user.scss */
  .user [class^="icon-"] {
    left: 16px;
    bottom: 5px;
    font-size: 120%;
  }
  /* line 35, ../sass/module/_wellejus.user.scss */
  .user .label-password {
    display: none;
  }
  /* line 39, ../sass/module/_wellejus.user.scss */
  .user .form-text {
    min-height: 30px;
  }
}
/* line 44, ../sass/module/_wellejus.user.scss */
.user .form-text {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 49, ../sass/module/_wellejus.user.scss */
.user .label-user,
.user .label-password {
  color: white;
  font-size: 140%;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 56, ../sass/module/_wellejus.user.scss */
.user .form-submit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: solid white 1px;
  min-height: 65px;
  text-transform: uppercase;
  padding: 0;
}
