/**
 * Layout
 *
 * Base layout for wellejus theme
 *
 * @author wiredloose
 */


/* Page
   ========================================================================== */
.ding2-site-template {
  padding: $medium-spacing;
}

.site-header,
.footer {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 5px 8px #666666;
}

.content-wrapper {
  margin-top: $medium-spacing;
}

.content-inner {
  background-color: #ffffff;
  box-shadow: 5px 5px 8px #666666;
  margin-bottom: $medium-spacing;
}

.default-layout,
.frontpage-layout {
  margin-top: 0;
  
  .layout-wrapper {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

/* Media queries */
@include large-x-large() {
  .content-inner {
    .pane-page-content {
      padding: $large-spacing $medium-spacing;
    }
  }
}

/* Sections
   ========================================================================== */
.navigation-wrapper {
  width: inherit;
  clear: both;
}


/* Site-header
   ========================================================================== */
.logo {
  margin: $large-spacing*1.5 $large-spacing;
}

/* Media queries */
@include small-medium() {

  .logo {
    height: inherit;
    margin: $medium-spacing;
    width: 50%;
    
    img {
      height: inherit;
      margin-top: 0;
    }
  }
}


/* Header wrapper
   ========================================================================== */
.header-wrapper {
  @include zen-clear();
  @include zen-nested-container(); // We're going to use grid-items here

  /* Media queries */
  @include large-x-large() {
    .header-inner {
      .pane-search-form {
        width: 60%;
        float: left;
      }
      
      .pane-user-login,
      .pane-vejlebib-views-panels-vejlebib-ding-userinfo {
        margin-left: 66.66667%;
        width: 30%;
      }
    }
  }

  .information-menu-wrapper {
    @include zen-clear();
    @include zen-grid-item(8, 1);
    margin-top: 5px;
    margin-bottom: 30px;

    /* For now we hide the information-menu on smaller screens */
    @include small-medium() {
      display: none;
    }
  }
  
}


/* Footer
   ========================================================================== */
.footer {
  padding-top: 0;
}

.footer-inner {
  padding: $large-spacing;
  
  a {
    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}


/* Bottom
   ========================================================================== */
.bottom {
  padding: 0;
  color: #808080;
}

.bottom p {
  border-top: 1px solid #C0C0C0;
  line-height: 3em;
  margin: 0 $large-spacing;
}
