body, caption, th, td, input, textarea, select, option, legend, fieldset {font-family: Palatino, Arial, sans-serif;}

body {
  background: url("../images/bg.jpg") repeat scroll center 0 #DDDDDD;
  }

#path { 
  margin-top:25px;
  margin-left: 44px; 
  } 
    
#pagebody-inner {
    background: url("../images/bg-page.png") repeat-y scroll -17px 0 transparent;
}  
  
#container {
  background: none;
  margin-bottom:0;
  }

#pagefooter {
    background: url("../images/bg-footer.png") no-repeat scroll -32px -50px transparent;
}  

#pagefooter-inner, #pagefooter-inner div.left {
  background-image:none;
  } 

  
.panel-threecol-33-34-33-stacked .panel-top {
    width: 905px;
}  
  
.panel-threecol-33-34-33-stacked .panel-left {
  float: left;
  padding-right: 20px;
  width: 437px;
  border-right:none;
  background-image:none;
  }

.panel-threecol-33-34-33-stacked .panel-middle {
  float: left;
  width: 212px;
  background-image:none;
  margin-top: 10px;
  }  
  
.panel-threecol-33-34-33-stacked .panel-right {
    float: left;
    width: 235px;
}

.panel-threecol-33-34-33-stacked .panel-right .pane-relevant_campaigns {
  float:right;
  margin-top:10px;
  text-align: right;
  }
  
#header {
  height: 50px;
  left: 245px;
  position: absolute;
  top: 40px;
  width: 500px;
  }

#header h3 {
  font-size: 10px;
  }

#header ul li {
  color: #000;
	float: left;
  font-size: 10px;
  width: 250px;
  }	
	
#header ul li div.title {
  width: 150px;
  }	
	
#header ul li div.field-opening-hours-scope {
  width: 100px;
  }

#header ul li div {
  float: left;
  }

#header .view-library-list a {
  color:inherit;
  }	
	
#top {
    height: 265px;
}

#pageheader {
  background: url("../images/bg-header.png") no-repeat scroll -21px -25px transparent;
  height: 330px;
  position: relative;
  width: 994px;
  }

#site-name {
    height: 38px;
    left: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 168px;
}

#site-name a {
  background-image: url("../images/logo.png");
	height:60px;
  }

#ting-search-form {
  background: none;
  left: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 175px;
  width: 520px;
  }

#ting-search-form label {
    font-size: 16px;
    margin-top: 12px;
}  
  
#ting-search-form .form-text {
  background-position: 9px 14px;
  border: 0 solid #999999;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  margin: 0 4px 0 0;
  padding: 0 0 0 30px;
  width: 420px;
  }

#ting-search-form .form-button {
    padding: 0;
    margin-left:455px;
}

#ting-search-form .form-submit, #user-login-form .form-submit {
    border: 1px solid rgb(244,244,244);
    height: 42px;
    padding: 0 10px;
    text-transform: uppercase;
    background: url("../images/bg-button-big.png") rgb(89,89,89);
    color:#fff;
    overflow:hidden;
    width:65px;
    font-weight:bold;
}

.ac_results {}
.ac_results li {height:16px;}
.ac_results span.term {font-size:12px;}

#user-login-form .form-submit {
  position:relative;
  top:-45px;
  left:175px;
  }

#account {
    left: 700px;
    margin: 0;
    position: absolute;
    top: 120px;
    width: 210px;
}

#user-login-form {
  background: url("../images/logind.png") no-repeat scroll 0 0 transparent;
  margin: 20px 0 0;
  padding: 35px 0 0 10px;
  }

#user-login-form #edit-name-wrapper input, #user-login-form #edit-pass-wrapper input {
  width: 165px;
  }  
    
#user-login-form .form-image-button {
  position: relative;
    top: -40px;
    left: 185px;
  }

#navigation {
  height:35px;
  }

#navigation-inner {
    margin: 0 30px;
}  
  
#navigation li.first, #navigation li  {
  padding: 0;
  margin:0 5px;
  }

#navigation li a {
  float:none;
  padding: 6px 10px;
  font-weight:bold;
  border-bottom:none;
  color: gray;
  border:solid transparent 1px;
  }  
  
#navigation li a.active {  
  background:url(../images/bg-button-big.png) #000;  
  }  
  
#navigation li a:hover {  
  border:solid silver 1px;
  color:black;  
  }   
  
#helpers {
    left: 750px;
    margin: 0;
    position: absolute;
    top: 272px;
    width: 230px;
}

#helpers li {
    float: left;
    font-size: 10px;
    margin-right: 20px;
}

#helpers li .print {
    background: url("../images/printer.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 20px;
}
#helpers li .read {
    background: url("../images/bog.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 20px;
}
#helpers li .english {
    background: url("../images/uk.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 30px;
}

#navigation-inner {
    background-color: white;
}

#content-inner {
  margin: 14px 0 0 28px;
  }
  
.content-top { 
  left:0;
  padding: 8px 0 20px 0;
  }  

#featured .ui-tabs-panel .info {
  height:80px;
  }

#featured .info.borkop, .info.egtved, .info.give, .info.jelling, .info.vejle  {
  padding-top: 160px;
  }

#featured .ui-tabs-panel .info.borkop {
  background: url("../images/ovlay470x250-red.png") repeat scroll 0 0 transparent;
  }

#featured .ui-tabs-panel .info.egtved {
  background: url("../images/ovlay470x250-purple.png") repeat scroll 0 0 transparent;
  }

#featured .ui-tabs-panel .info.give {
  background: url("../images/ovlay470x250-orange.png") repeat scroll 0 0 transparent;
  }

#featured .ui-tabs-panel .info.jelling {
  background: url("../images/ovlay470x250-blue.png") repeat scroll 0 0 transparent;
  }

#featured .ui-tabs-panel .info.vejle {
  background: url("../images/ovlay470x250-green.png") repeat scroll 0 0 transparent;
  }

#featured li.ui-tabs-nav-item a, #featured .ui-tabs-panel .info h3, #featured .ui-tabs-panel .info p { 
  text-transform:uppercase;  
  }
  
#featured .ui-tabs-panel .info h3 a, #featured .ui-tabs-panel .info p { 
  font-size:18px;
  font-weight:normal;  
  }
  
#featured .ui-tabs-panel .info h3, #featured .ui-tabs-panel .info p {
    margin: 5px 0 0 10px;
}

#kviklinks {
  width: 220px;
  float: right;
  }
  
#kviklinks h3 {
  padding: 0 10px;
  text-transform: uppercase;
  font-size:12px;
  }
  
#kviklinks ul.menu, #pagefooter ul.menu {
  margin-top:11px;
  }  
  
#kviklinks ul.menu li.leaf, #pagefooter ul.menu li.leaf {
  margin:0;
  }  
  
#kviklinks ul.menu li.leaf a, #pagefooter ul.menu li.leaf a {
  background: url("../images/arrow.png") no-repeat scroll 0 3px transparent;
  color: #000;
  font-size: 11px;
  font-weight:normal;
  padding: 0 0 0 12px;
  text-transform: uppercase;
  display:block;
  }
  
#kviklinks ul.menu li.leaf a:hover, #pagefooter ul.menu li.leaf a:hover {
  font-weight:bold;
  }  

.meta .author a, .meta .author a:link, .meta .author a:visited, .meta .author a:active {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

#pager, ul.pager {
  padding:0;
	background: none;
	margin: 80px 0 5px;
  }

#ting-result-pager ul li.current, 
.panel-left ul.pager li.pager-current,
.panel-left ul.pager li.pager-item,
.panel-left ul.pager li.pager-next,
.panel-left ul.pager li.pager-previous,
.panel-left ul.pager li.pager-first,
.panel-left ul.pager li.pager-last {
  background: none repeat scroll 0 0 rgb(244,244,244);
	border:solid silver 1px;
	padding: 5px 0 0;
	margin:0 5px 0 0;
	height: 22px;	
  }
	
.panel-left ul.pager li.pager-item {
  width: 32px;
  }
	
.panel-left ul.pager li.pager-current {
  background-color: rgb(89,89,89);
	color:white;
  }
	
.panel-left ul.pager li a {
  color:rgb(89,89,89);
  }

.feed-icon span {
  top: -8px;
  }

.view .feed-icon {
  margin: 0;
  }

body.page-biblioteker .panel-left .view ul li {
  padding: 10px 0;
  }
 
.panel-left .view ul li, .panel-left ul.item-list li, .panel-left .pane-library_feature_detail_list ul li {
  background: none;
  padding: 10px 0px;
  border-top:solid silver 1px;
  }  
  
.panel-left .view ul li.views-row-first {
  border-top:none;
  }  
  
.panel-left .view, .panel-left .pane-library_feature_detail_list ul.item-list {
  left: 0px;
  }
  
.pane-vejlebib_article_list-panel_pane_3 h2 {
  text-transform:uppercase;
  font-weight:bold;
  }  
  
.pane-vejlebib_article_list-panel_pane_3 h2.borkop a, 
.pane-vejlebib_article_list-panel_pane_3 h2.borkop a:link, 
.pane-vejlebib_article_list-panel_pane_3 h2.borkop a:visited, 
.pane-vejlebib_article_list-panel_pane_3 h2.borkop a:active { 
  color:rgb(228,3,46);
  }
.pane-vejlebib_article_list-panel_pane_3 h2.egtved a, 
.pane-vejlebib_article_list-panel_pane_3 h2.egtved a:link, 
.pane-vejlebib_article_list-panel_pane_3 h2.egtved a:visited, 
.pane-vejlebib_article_list-panel_pane_3 h2.egtved a:active {
  color:rgb(149,27,129);
  }
.pane-vejlebib_article_list-panel_pane_3 h2.give a, 
.pane-vejlebib_article_list-panel_pane_3 h2.give a:link, 
.pane-vejlebib_article_list-panel_pane_3 h2.give a:visited, 
.pane-vejlebib_article_list-panel_pane_3 h2.give a:active {
  color:rgb(243,146,0);
  }
.pane-vejlebib_article_list-panel_pane_3 h2.jelling a, 
.pane-vejlebib_article_list-panel_pane_3 h2.jelling a:link, 
.pane-vejlebib_article_list-panel_pane_3 h2.jelling a:visited, 
.pane-vejlebib_article_list-panel_pane_3 h2.jelling a:active {
  color:rgb(0,139,210);
  }
.pane-vejlebib_article_list-panel_pane_3 h2.vejle a, 
.pane-vejlebib_article_list-panel_pane_3 h2.vejle a:link, 
.pane-vejlebib_article_list-panel_pane_3 h2.vejle a:visited, 
.pane-vejlebib_article_list-panel_pane_3 h2.vejle a:active {
  color:rgb(149,193,31);
  } 
  
.subject a, .subject a:link, .subject a:visited, .subject a:active {
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    font-weight:bold;
    font-size: 11px;
}  
  
.more-link a, a.more-link, div.more-link {
  text-align: left;
  background:none;
  padding:0;
  font-size:10px;
  }
  
#event-list h3, #kviklinks h3 {
  margin:0;
  color:white;
  font-weight:bold;
  background:rgb(65,65,65);
  }  
  
#event-list li {
  background:none;
  padding: 8px 0 6px;
  }
  
#event-list li .calendar-leafs .leaf {
  border: 1px solid rgb(149,149,149);
  padding:0;
  background:none;
  font-family: inherit;
  font-weight:bold;
  text-transform:uppercase;
  }

#event-list li .leaf.borkop { 
  border-color:rgb(228,3,46);
  }
#event-list li .leaf.egtved { 
  border-color:rgb(149,27,129);
  }
#event-list li .leaf.give { 
  border-color:rgb(243,146,0);
  }
#event-list li .leaf.jelling { 
  border-color:rgb(0,139,210);
  }
#event-list li .leaf.vejle { 
  border-color:rgb(149,193,31);
  }  
  
#event-list li .leaf .day { 
  background-color: rgb(149,149,149); 
  margin-bottom: 3px;
  }

#event-list li .leaf.borkop .day { 
  background-color: rgb(228,3,46); 
  }
#event-list li .leaf.egtved .day { 
  background-color: rgb(149,27,129); 
  }
#event-list li .leaf.give .day { 
  background-color: rgb(243,146,0); 
  }
#event-list li .leaf.jelling .day { 
  background-color: rgb(0,139,210); 
  }
#event-list li .leaf.vejle .day { 
  background-color: rgb(149,193,31); 
  }

#event-list li .calendar-leafs .info {
  font-size: 11px;
  width: 145px;
  }
  
#event-list li div.info h4 a, #event-list li div.info span, #event-list li div.info div.time {
  font-size: 11px;
  }
  
#event-list li div.info div.time {
  background: url("../images/ur.png") no-repeat scroll 0 4px transparent;
  padding-left: 14px;
  }

#event-list .view-footer p {
  padding-top: 10px;
  text-align:right;
  float:right;
  }  
  
#event-list div.feed-icon {
  margin: 18px 0;
  }
  
#event-list .more-link {
    text-align:right;
    padding:0;
}

.view-library-list .node-teaser-library .picture {
  position:relative;
  }

.view-library-list .node-teaser-library .picture .overlay {
  background: url(../images/ovlay125x125-green.png) repeat scroll 0 0 transparent;
  height:120px;
  width:120px;
  position:absolute;
  }

.view-library-list .node-teaser-library .picture .overlay.borkop { background-image: url(../images/ovlay125x125-red.png); }
.view-library-list .node-teaser-library .picture .overlay.egtved { background-image: url(../images/ovlay125x125-purple.png); }
.view-library-list .node-teaser-library .picture .overlay.give { background-image: url(../images/ovlay125x125-orange.png); }
.view-library-list .node-teaser-library .picture .overlay.jelling { background-image: url(../images/ovlay125x125-blue.png); }
.view-library-list .node-teaser-library .picture .overlay.vejle { background-image: url(../images/ovlay125x125-green.png); }

.page-biblioteker .panel-left .view ul li {
  height: 120px;
  padding: 10px;
  width: 80px;
  }

.view-library-staff-list li .field-image-fid, .view-library-staff-list li .field-image-fid img {
  height: 72px;
  width: 72px;
  }

#pagefooter-inner div.left {
  min-height: 190px;
  }

#pagefooter-bottom {
  font-size: 12px;
  margin: -10px 0 0;
  padding: 0 40px;
  text-align: center;
  }
  
#pagefooter-bottom .block {
  border-top: 1px solid silver;
  }
  
#pagefooter {  
  line-height: inherit;  
  }
  
#pagefooter h3 {
  font-weight:bold;
  text-transform: uppercase;
  font-size:12px;
  }
  
/* Errors in Dynamo corrected below */
/* position:relative on "form div" is not good inside vertical tabs - form-description will overlap inputs on some contrib modules such as scheduler */
.vertical-tabs .form-description {
  position: static;
  }