/*biblo*/

/*developer*/

/*dynamo*/
#w .view-footer {
  margin: 10px 0;
  }

/*ie6*/

/*ie7*/

/*jcarousel*/

/* LAYOUT */
body {
  background: url("../images/bg.jpg") repeat scroll center 0 #DDDDDD;
  }

body.page-biblioteker .panel-left .view ul li {
  padding: 10px 0;
  }

#account {
  left: 700px;
  margin: 0;
  position: absolute;
  top: 120px;
  width: 260px;
  }

#account-profile {
  margin:0;
  }  
  
#account-profile div.logout a {
  position: absolute;
  right: 0;
  text-align: center;
  top: 55px;
  }  
  
#account-profile div.logout a, 
#account-profile .cart a {
  font-size: 11px;
  width: 100px;
  }  
  
#account-profile div.logout a, 
#account-profile ul div.content a,
#account-profile .cart a {
  background: url("../images/bg-button-big.png") repeat scroll 0 0 #595959;
  padding: 0 10px;
  border: 1px solid #F4F4F4;
  padding: 3px 10px;
  }  

#account-profile ul {
  width:120px;
  }
  
#account-profile ul div.content a {
  height: 16px;
  margin-bottom: 2px;
  width:120px;
  }
  
#account-profile ul div.status {
  margin-left: -170px;
  }
  
#account-profile .cart {
  float: right;
  margin-top: 21px;
  background-image: none;
  width: 100px;
  padding: 0 13px 0 0;
  }
  
#account-profile .cart a {  
  height: 16px;
  }
  
#account-profile .user {
  margin: 19px 0 5px;
  }  
  
#account-profile .username {
  width: 100%;
  }  
  
#block-ding-wayf a {
  background: url("../images/logo-nemid-small.png") no-repeat scroll 1px center transparent;
  clear: right;
  display: block;
  min-height: 25px;
  min-width: 90px;
  text-indent: -9999em;
  }  
  
#container {
  background: none;
  margin-bottom:0;
  }
  
#content-inner {
  margin: 14px 0 0 28px;
  }
  
#event-list div.feed-icon {
  margin: 18px 0;
  }

#event-list li div.info div.time {
  background: url("../images/ur.png") no-repeat scroll 0 4px transparent;
  padding-left: 14px;
  }
  
#event-list h3, 
#kviklinks h3 {
  margin:0;
  background:rgb(65,65,65);
  }  
  
#event-list li {
  background:none;
  padding: 16px 0 6px;
  }
  
#event-list li .calendar-leafs .leaf {
  border: 1px solid rgb(149,149,149);
  padding:0;
  background:none;
  }
  
#event-list li .leaf.borkop { 
  border-color:rgb(228,3,46);
  }

#event-list li .leaf.egtved { 
  border-color:rgb(149,27,129);
  }

#event-list li .leaf.give { 
  border-color:rgb(243,146,0);
  }

#event-list li .leaf.jelling { 
  border-color:rgb(0,139,210);
  }

#event-list li .leaf.vejle { 
  border-color:rgb(149,193,31);
  }  
  
#event-list li .leaf .day { 
  background-color: rgb(149,149,149); 
  margin-bottom: 3px;
  }

#event-list li .leaf.borkop .day { 
  background-color: rgb(228,3,46); 
  }

#event-list li .leaf.egtved .day { 
  background-color: rgb(149,27,129); 
  }

#event-list li .leaf.give .day { 
  background-color: rgb(243,146,0); 
  }

#event-list li .leaf.jelling .day { 
  background-color: rgb(0,139,210); 
  }

#event-list li .leaf.vejle .day { 
  background-color: rgb(149,193,31); 
  }

#event-list .more-link {
  text-align:right;
  padding:0;
  }

#event-list .view-footer p {
  padding-top: 10px;
  text-align:center;
  }  
  
#featured .info.borkop {
  background-image: url("../images/tint-red-80.png");
  }

#featured .info.egtved {
  background-image: url("../images/tint-purple-80.png");
  }

#featured .info.give {
  background-image: url("../images/tint-orange-80.png");
  }

#featured .info.jelling {
  background-image: url("../images/tint-blue-80.png");
  }

#featured .info.vejle {
  background-image: url("../images/tint-green-80.png");
  }

#featured .ui-tabs-panel .info {
  height: 75px;
  }  
  
#featured .ui-tabs-panel .info h3,
#featured .ui-tabs-panel .info p {
  margin-left:10px;
  }  
  
#for-boern-page {
  position: relative;
  left: -28px;
  top: -28px;
  }
  
#for-boern-page .view-vejlebib-page a {
  position:absolute;
  }  
  
#header {
  height: 50px;
  right: 8px;
  position: absolute;
  top: 30px;
  width: 550px;
  }

#header ul li {
  float: left;
  width: 275px;
  line-height:20px;
  }	
	
#header ul li div {
  width: 120px;
  }	
	
#header ul li div.opening-hours-scope {
  text-align:right;
  position:relative;
  }

#header ul li div.opening-hours-scope .hours {
  padding-right: 14px;
  }

#header ul li div.opening-hours-scope .hours.detail {  
  background: url(../images/plus12.png) no-repeat right 1px;
  }
  
#header ul li div {
  float: left;
  }

#header .oho-popup {
  width:220px;
  text-align:left;
  left:0;
  }  
  
#helpers {
    left: 750px;
    margin: 0;
    position: absolute;
    top: 272px;
    width: 230px;
}

#helpers li {
    float: left;
    margin-right: 20px;
}

#helpers li .print {
    background: url("../images/printer.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 20px;
}
#helpers li .read {
    background: url("../images/bog.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 20px;
}
#helpers li .english {
    background: url("../images/uk.png") no-repeat scroll 0 center transparent;
    padding: 5px 0 5px 30px;
}
    
#kviklinks {
  width: 220px;
  float: right;
  }
  
#kviklinks h3 {
  padding: 0 10px;
  }
  
#kviklinks ul.menu, 
#pagefooter ul.menu {
  margin-top:11px;
  }  
  
#kviklinks ul.menu li.leaf, 
#pagefooter ul.menu li.leaf {
  margin:0;
  }  
  
#kviklinks ul.menu li.leaf a, 
#pagefooter ul.menu li.leaf a {
  background: url("../images/arrow.png") no-repeat scroll 0 3px transparent;
  padding: 0 0 0 12px;
  display:block;
  }
        
#navigation {
  height:35px;
  }

#navigation-inner {
    margin: 0 30px;
    background-color: white;
}

#navigation li.first, #navigation li  {
  padding: 0;
  margin:0 5px;
  }
    
#navigation li a {
  float:none;
  padding: 6px 10px;
  border-bottom:none;
  border:solid transparent 1px;
  }  
  
#navigation li a.active {  
  background:url(../images/bg-button-big.png) #000;  
  }  
  
#navigation li a:hover {  
  border:solid silver 1px;
  }   
 
#page {
  overflow:visible;
  }
    
#pagebody-inner {
  background: url("../images/bg-page.png") repeat-y scroll -17px 0 transparent;
  }  
  
#path { 
  margin-top:25px;
  margin-left: 44px; 
  } 
  
#pagefooter {
  background: url("../images/bg-footer.png") no-repeat scroll -32px -50px transparent;
  }  

#pagefooter h3 {
  font-weight:bold;
  text-transform: uppercase;
  font-size:13px;
  font-family:inherit;
  }

#pagefooter-bottom {
  font-size: 12px;
  margin: -5px 0 0;
  padding: 0 40px;
  text-align: center;
  }

#pagefooter-bottom .block {
  border-top: 1px solid silver;
  }

#pagefooter-inner {  
  padding-top: 10px; 
  } 
  
#pagefooter-inner, 
#pagefooter-inner div.left {
  background-image:none;
  } 

#pagefooter-inner div.left {
  min-height: 185px;
  }
  
#pageheader {
  background: url("../images/bg-header.png") no-repeat scroll -21px -25px transparent;
  height: 330px;
  position: relative;
  width: 994px;
  }

#pager, 
ul.pager {
  padding:0;
  background: none;
  margin: 80px 0 5px;
  }

#site-name {
  height: 38px;
  left: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 270px;
  }

#site-name a {
  background-image: url("../images/logo.png");
	height:80px;
  }
  
#ting-search-form {
  background: none;
  left: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 175px;
  width: 540px;
  }
  
#ting-search-form label {
  margin-top: 12px;
  }  

#ting-search-form .form-text {
  background-position: 9px 14px;
  border: 0 solid #999999;
  height: 42px;
  margin: 0 4px 0 0;
  padding: 0 0 0 30px;
  width: 420px;
  }

#top {
  height: 265px;
  }
  
#user-login-form {
  background: url("../images/logind.png") no-repeat scroll -10px 0 transparent;
  padding-top: 35px;
  height: 45px;
  overflow: hidden;
  }

#user-login-form #edit-name-wrapper input, #user-login-form #edit-pass-wrapper input {
  width: 165px;
  }  
    
#user-login-form #edit-name-wrapper,
#user-login-form #edit-pass-wrapper {
  width: 215px;
  }  
  
#user-login-form .form-image-button {
  position: relative;
  top: -40px;
  left: 185px;
  }

#user-login-form .edit-submit {
  margin-left: 175px;
  top: -45px;
  }

#user-login-form div {
  height: 20px;
  }  
  
#w .more-link a, 
#w a.more-link, 
#w div.more-link {
  text-align: left;
  background:none;
  padding:0;
  }
  
#w a.button:link, #w a.button:visited {
    background: url("../images/button-generic-green.png") no-repeat 0 0 transparent;
    color: white;
    display: block;
    font-weight: bold;
    margin: 0.5em auto;
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
    width: 205px;
}
  
#w .subject a, 
#w .subject a:link, 
#w .subject a:visited, 
#w .subject a:active {
  background-color: #FFF;
  }  
  
#w li.current, 
#w li.pager-current, 
#w li.pager-item, 
#w li.pager-next, 
#w li.pager-previous, 
#w li.pager-first, 
#w li.pager-last {
  background: none repeat scroll 0 0 rgb(244,244,244);
  border:solid silver 1px;
  padding: 5px 0 0;
  margin:0 5px 0 0;
  height: 22px;	
  }

#w li.pager-current {
  background-color: rgb(89,89,89);
  }

.content-top { 
  left:0;
  padding: 8px 0 20px 0;
  }  
  
.ding-box-wide ul li {
  height: 20px;
  }	
	
.feed-icon span {
  top: -8px;
  }
 
.library-about-bottom {
  clear: both;
  margin-bottom: 2em;
  text-align: center;
  }
 
.overlay.borkop {
  background-image: url(../images/ovlay125x125-red.png); 
  }

.overlay.egtved { 
  background-image: url(../images/ovlay125x125-purple.png); 
  }

.overlay.give { 
  background-image: url(../images/ovlay125x125-orange.png); 
  }

.overlay.jelling { 
  background-image: url(../images/ovlay125x125-blue.png); 
  }
  
.overlay.vejle { 
  background-image: url(../images/ovlay125x125-green.png); 
  }
  
.pane-similar_events_title {
  border-top:1px solid #DCDCDC;
  margin-top: 3em;
  padding-top: 1em;
  }   
  
.panel-left ul.pager li.pager-item,
.panel-middle ul.pager li.pager-item {
  width: 32px;
  }
	
.panel-left .pane-vejlebib_article_list-panel_pane_3 ul li, 
.panel-left .pane-library_feature_detail_list ul li {
  background: none;
  padding: 10px 0px;
  border-top:solid silver 1px;
  }  
  
.panel-left .view ul li.views-row-first {
  border-top:none;
  }  
  
.panel-left .view, 
.panel-left .pane-library_feature_detail_list ul.item-list {
  left: 0px;
  }

.panel-threecol-33-34-33-stacked .panel-left,
.panel-threecol-left-stacked .panel-left .view-vejlebib-article-list {
  float: left;
  padding-right: 20px;
  width: 437px;
  border-right:none;
  background-image:none;
  }

.panel-threecol-33-34-33-stacked .panel-middle {
  float: left;
  width: 212px;
  background-image:none;
  margin-top: 10px;
  }  
  
.panel-threecol-33-34-33-stacked .panel-right {
  float: left;
  width: 235px;
  }

.panel-threecol-33-34-33-stacked .panel-right .pane-relevant_campaigns {
  float:right;
  margin-top:10px;
  text-align: right;
  }

.panel-threecol-33-34-33-stacked .panel-top {
  width: 905px;
  }  

.panel-threecol-left-stacked .panel-middle .ding-box-pane {
  margin: 0 0 20px;
  }
  
.ding-box-pane .pane-library_feature_list ul.item-list li {
  width:200px;
  font-size: 14px;
  line-height: 20px;
  }  

.panel-threecol-left-stacked .panel-middle #event-list {  
  padding-left: 5px;
  width: 220px;
  }
  
.view .feed-icon {
  margin: 0;
  }

.view-library-list .overlay {
  height:120px;
  width:120px;
  position:absolute;
  }
  
.view-vejlebib-library-staff-list li {
  float: left;
  height: 120px;
  overflow: hidden;
  width: 48%;
  }  

.view-vejlebib-library-staff-list .display-name-2 {
  font-weight:bold;
  font-size:1.1em;
  margin-bottom: 0.8em;
  }  

.view-vejlebib-library-staff-list .field-image-fid {
  float:left;
  margin-right: 1em;
  }  
  
/*print*/


/*search*/
#ting-facet-browser li li.selected {
  background: url(../images/checked.png) no-repeat -1px center transparent !important;
  }
    
#ting-facet-browser li li {
  background: url(../images/unchecked.png) no-repeat -1px center transparent !important;
  }

  
/*ting*/
#periodical-issue-list .year h3 {
  background-image: url("../images/plus.gif");
	background-position: 0 7px;
	padding-left: 20px;
	}

#ting-collection .tab-navigation.ui-tabs-nav,
#ting-object .tab-navigation.ui-tabs-nav,
#ting-object .ting-availability h3 { 
  display:none;
  }
	
.page-ting .content-left span.creator a {
  display:inline;
  }	
	
#ting-collection .tab-navigation-main,
#ting-object .tab-navigation-main { 
  background:none;
	width:690px;
  }	
	
.page-ting .ding-box-wide,	
.page-ting .ding-box-wide h3,
.page-ting .ding-box-wide ul,
.page-ting .pane-recommendation_list h3 {
  background:none;
	width:100%;
	}	

#ting-object .ting-availability ul li,
#ting-object .ting-availability p,
#ting-object .object-otherversions h3,
#ting-object .object-otherversions li {
  margin:0;
	padding:0;
  }
	
#ting-object .ting-availability p {
  font-size:12px;
	margin-bottom:10px;
	}
	
#ting-object .ding-box-wide,
#ting-object .object-information {
  width:100%;
  }	
	
.ding-ting-collection .ding-box-wide h3,
.ding-ting-object .ding-box-wide h3 {
  font-size:12px;
	border-bottom: 1px solid silver;
  }

body.ding-ting-object .pane-recommendation_list,
body.ding-ting-collection .pane-recommendation_list {
  margin:0;
  }	
	
#ting-object .terms {
  margin-bottom: 10px;
  }

#ting-object .ting-details .title {
  clear:left;
  }
	
.ting-overview h4 {
  clear:both;
  } 
	
.ting-overview .right-column {
  width: 450px;
  }

.object-information, .ting-item .ting-status,
#ting-object #more-info {
  font-size: 14px;
  }

#w.page-ting .ting-object-buttons ul.buttons li a,
#periodical-issue-list ul.buttons li a {
  color:#fff;
	font-size: 14px;
	text-transform: none;
  }	

.ting-item ul.buttons li {
  min-width: 150px;
  }

.ting-item .right-column h2 {
  clear:both;
  }	
	
#ting-collection .ting-item .ting-object-buttons {
    width: 160px;
		float:right;
}
	
/* TYPOGRAPHY: Fonts and sizes */
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Arial, sans-serif;
  }

#account-profile div.logout a, 
#account-profile ul div.content a,
#account-profile .cart a {
  font-weight: bold;
  text-transform: uppercase;
  }    
  
#account-profile .username a {
  font-size: 16px;
  font-weight: bold;
  }  

#event-list h3, 
#kviklinks h3 {
  color:white;
  font-weight:bold;
  }  
  
#event-list li div.info h4 {
  line-height: 14px;
  }
	
#event-list li .calendar-leafs .leaf {
  font-family: Arial, sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  }

#header h3,
#header ul li {
  color: #000;
  }
  
#kviklinks h3 {
  text-transform: uppercase;
  font-size:13px;
  }
  
#kviklinks ul.menu li.leaf a, 
#pagefooter ul.menu li.leaf a {
  color: #000;
  font-weight:normal;
  text-transform: uppercase;
  }
  
#kviklinks ul.menu li.leaf a:hover, #pagefooter ul.menu li.leaf a:hover {
  font-weight:bold;
  }

#pagefooter {  
  line-height: inherit;  
  }
  
#ting-search-form div.example {
  margin: 5px 0 0 -5px;
  }	
#ting-search-form div.example li a {
  color: #fff;
	font-weight:bold;
  }	
	
#ting-search-form label {
  font-size: 16px;
  }
  
#ting-search-form .form-submit, #user-login-form .form-submit {
  text-transform: uppercase;
  color:#fff;
  font-weight:bold;
  }

#ting-search-form .form-text {
  font-size: 18px;
  line-height: 42px;
  }

#ting-facet-browser li li,	
#w a, 
#w a:link, 
#w a:visited, 
#w a:active {
  color: #607F0C;
  }	

#w h2 a, 
#w h2 a:link, 
#w h2 a:visited, 
#w h2 a:active, 
#w h3 a, 
#w h3 a:link, 
#w h3 a:visited, 
#w h3 a:active,
#w h4 a, 
#w h4 a:link, 
#w h4 a:visited, 
#w h4 a:active,
#w #header .view-library-list a  {
  color: #050505;
  }

#w #account a,
#w div.place2book.order a {
  color: #FFFFFF;
  }  
  
#w #navigation li a {
  font-weight:bold;
  color: gray;
  }  

#w #navigation li.active a {
  color: #EEEEEE;
  }
  	
#w #navigation li a:hover {  
  color:black;  
  }   

#w li.pager-current {
  color:white;
  }

#w .borkop a, 
#w .borkop a:link, 
#w .borkop a:visited, 
#w .borkop a:active { 
  color:rgb(228,3,46);
  }

#w .egtved a, 
#w .egtved a:link, 
#w .egtved a:visited, 
#w .egtved a:active {
  color:rgb(149,27,129);
  }

#w .give a, 
#w .give a:link, 
#w .give a:visited, 
#w .give a:active {
  color:rgb(243,146,0);
  }

#w .jelling a, 
#w .jelling a:link, 
#w .jelling a:visited, 
#w .jelling a:active {
  color:rgb(0,139,210);
  }

#w .meta .author a, 
#w .meta .author a:link, 
#w .meta .author a:visited, 
#w .meta .author a:active {
  text-decoration: none;
  font-style: italic;
  }

#w.page-ting li.ui-tabs-selected a {
  color: #333333;
  }
 
#w .panel-left ul.pager li a,
#w .panel-middle ul.pager li a {
  color:rgb(89,89,89);
  }

#w .subject a, 
#w .subject a:link, 
#w .subject a:visited, 
#w .subject a:active {
  color: #000;
  font-weight:bold;
  }  

#w .ting-availability .library-list a.wagnerguide { 
  color:white;
  }  
	
#w .vejle a, 
#w .vejle a:link, 
#w .vejle a:visited, 
#w .vejle a:active {
  color:rgb(149,193,31);
  } 
  
.ac_results li {height:16px;}
.ac_results span.term {font-size:12px;}

.ding-box-wide ul li, 
.ding-box-wide ul li.first {
  font-size: 12px;
  }	

.meta {
  color:#000;
  }
	
.pane-similar_events_title h4 {
  font-size: 18px;
  font-weight:normal;
  }  

.pane-vejlebib_article_list-panel_pane_3 h2, 
.pane-vejlebib_article_list-panel_pane_4 h2 {
  text-transform:uppercase;
  font-weight:bold;
  }  

/* TYPOGRAPHY: 11PX fonts */
#helpers li,
#kviklinks ul.menu li.leaf a, 
#pagefooter ul.menu li.leaf a,
#path,
#ting-facet-browser li *,
#w .subject a, 
#w .subject a:link, 
#w .subject a:visited, 
#w .subject a:active {
  font-size:11px;
  }
	
/* TYPOGRAPHY: 12PX fonts */
#event-list li div.info h4 a, 
#event-list li div.info span, 
#event-list li div.info div.time,
#header .oho-popup h3,
#w a.more-link, 
#w div.more-link,
#w .comment, 
#w .meta, 
#w .more-link a, 
#w .taxonomy, 
#w .view-empty, 
#w .view-event-list .library-tag, 
#w .view .field-library-ref-nid, 
#w .view .created, 
#w .view .name {
  font-size:12px;
  }
	
/* TYPOGRAPHY: 13PX fonts = inherited from BODY style */
#account-profile div.logout a,
#header ul li,
#ting-search-form div.example,
#ting-search-result .ting-properties .item-list span,
#ting-object .terms,
#ting-collection .ting-overview .ting-properties .item-list span,
#w div.comment blockquote {
  font-size:13px;
  }
	
/* TYPOGRAPHY: 14PX fonts */
#header .oho-popup h3,
#periodical-issue-list .year h3 {
  font-size:14px;
  }

/* TYPOGRAPHY: 16PX fonts */
#header h3, 
.library-about-bottom {
  font-size:16px;
  }

/*user*/
#ting-search-form .form-button {
  padding: 0;
  margin-left:455px;
  }
  
#ting-search-form .form-submit, #user-login-form .form-submit {
  border: 1px solid rgb(244,244,244);
  height: 42px;
  background: url("../images/bg-button-big.png") rgb(89,89,89);
  overflow:hidden;
  cursor: pointer;
  }

#ting-search-form .form-submit {
  padding: 0 10px;
  }  
  
/*wysiwyg: styles for tinymce*/




  
  
/* Errors in Dynamo corrected below */
/* position:relative on "form div" is not good inside vertical tabs - form-description will overlap inputs on some contrib modules such as scheduler */
.vertical-tabs .form-description {
  position: static;
  }