/**
 * Rules that can be configured for wellejus theme is located in this file.
 *
 * @author wiredloose
 */


/* Links */

a {
  font-weight: $base-font-weight-normal;

  &:link,
  &:visited {
    text-decoration: none;
  }

  /* Ensure that links maintain their color when visited */
  &:visited {
    color: $link-color;
  }

  &:hover {
    text-decoration: underline;

    i[class^="icon-"] {
      text-decoration: none;
    }
  }

}


/* Bottom background color */

.bottom {
  background-color: white;
}
