/* Header */
.header-wrapper {
  $rgba: rgba($header-background-color, $default-transparency);
  // IE Fallback:
  background-color: $header-background-color;
  background-color: $rgba;
}

/* Bottom background color */

.bottom {
  background-color: white;
}
