/**
 * Colors that can be configured for wellejus theme through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author wiredloose
 */


/* Topbar */
$topbar-background-color:         #ffffff !default;

/* Header */
$header-background-color:         #50BA00;

/* Navigation */
$navigation-background-color:     #ffffff !default;

/* Links */
$link-color:                      #607f0c !default;
$link-color-hover:                #607f0c !default;

/* Labels */
$label-bg-color:                  #00cafe !default;
$label-bg-color-hover:            #00a7d2 !default;
$label-text-color:                #fffffd !default;
$label-text-color-hover:          #fafaf7 !default;

/* Content */
$content-background-color:        #fffffe !default;

/* List */
$list-background-color:           #ffffff !default;
$list-item-background-color-odd:  #ffffff !default;
$list-item-background-color-even: #ffffff !default;
$list-text-color:                 #4c4c4c !default;

/* Footer */
$footer-background-color:         #ffffff !default;

/* Library colors */
$vejle-color:                     #95C127 !default;
$borkop-color:                    #E4032E !default;
$egtved-color:                    #951B81 !default;
$jelling-color:                   #008BD2 !default;
$give-color:                      #F39200 !default;