/**
 * Variables for wellejus theme
 *
 * @author wiredloose
 */

/* Spacing variables
   ========================================================================== */

$large-spacing:                   20px;
$medium-spacing:                  10px;
$small-spacing:                   5px;



/* Zen Grid variables
   ========================================================================== */

$zen-column-count: 12;
$zen-gutter-width: 20px;
$box-sizing-polyfill-path: "/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc";



/* Breakpoints
   ========================================================================== */

$breakpoint-low:                  580px;
$breakpoint-small:                480px;
$breakpoint-medium:               768px;
$breakpoint-large:                940px;
$breakpoint-x-large:              1210px;



/* Standard color definitions
   ========================================================================== */

$white:                            #fff;
$black:                            #000;
$gray:                             #d5d5d5;
$gray-light:                       lighten($gray, 10%);
$gray-lighter:                     lighten($gray, 15%);
$gray-dark:                        darken($gray, 10%);
$gray-darker:                      darken($gray, 25%);
$gray-darkest:                     darken($gray, 35%);
$red:                              #a32e10;
$green:                            #528c10;
$yellow:                           #f0cb28;
$blue:                             #00caff;
$topbar-background-color:          #ffffff;
$header-background-color:          #95C11F;
$navigation-background-color:      #ffffff;
$link-color:                       #607f0c;
$link-color-hover:                 #607f0c;
$label-bg-color:                   $green;
$label-bg-color-hover:             darken($green, 10%);
$label-text-color:                 #fffffd;
$label-text-color-hover:           #fafaf7;
$content-background-color:         #fffffe;
$list-background-color:            $white;
$list-item-background-color-odd:   $white;
$list-item-background-color-even:  #ededed; //#f2f2f2
$list-text-color:                  #4c4c4c;
$vejle-color:                      #95C127;
$borkop-color:                     #E4032E;
$egtved-color:                     #951B81;
$jelling-color:                    #008BD2;
$give-color:                       #F39200;
$default-transparency:             0.75;

/* Font library
   ========================================================================== */

$base-icon-library-font:         "FontAwesome";


/* Typography
   ========================================================================== */

$font-light:                      "SourceSansProLight";
$font-light-italic:               "SourceSansProLightItalic";
$font-regular:                    "SourceSansProRegular";
$font-regular-italic:             "SourceSansProItalic";
$font-bold:                       "SourceSansProSemibold";
$font-bold-italic:                "SourceSansProSemiboldItalic";
$font-color-primary:              transparentize($black, .3);



/* Font variables
   ========================================================================== */

$base-font-size:                  16px;
$base-line-height:                24px;
$base-font-family:                $font-regular, Helvetica, "Nimbus Sans L", sans-serif;
$base-font-weight-normal:         normal;
$base-font-weight-bold:           bold;


/* Font sizes
   ========================================================================== */


$font-size-giga:                  170%;
$font-size-largest:               140%;
$font-size-larger:                130%;
$font-size-large:                 120%;
$font-size-medium:                110%;
$font-size-reset:                 100%;
$font-size-small:                 85%;
$font-size-tiny:                  75%;


/* Labels
   ========================================================================== */

$label-border-radius:             8px;
$label-shadow:                    0 -1px 0 rgba(0,0,0,.25);
$label-padding:                   3px 10px;
$label-margin:                    10px 5px 5px 0;


/* Navigation
   ========================================================================== */

$navbar-bg-color:                 transparentize($white, .95);
$navbar-bg-active-color:          transparentize($white, .95);
$navbar-text-color:               lighten($black, 30%);
$navbar-text-color-active:        lighten($black, 30%);


/* Availability
   ========================================================================== */

$availability-pending:                  $gray-darker;
$availability-processed:                $gray-darker;
$availability-available:                $green;
$availability-reservable:               $yellow;
$availability-available-reservable:     $green;
$availability-available-not-reservable: $red;


/* Buttons
   ========================================================================== */
$button-border-radius:                8px;
$button-padding:                      8px 14px;
$button-box-shadow:                   0 0 1px lighten($black, 35%) inset;
$button-bookmark-bg:                  #444;
$button-bookmark-color:               #fff;
