/**
 * Tabroll for wellejus theme
 *
 * @author holt83
 */

.ding-tabroll-wrapper .ui-tabs {
  ul.ui-tabs-nav {
    @include zen-grid-item(3, 1, right);
    list-style: square;
    margin: 0;
    padding: 0;
    right: 0;

    a {
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      color: inherit;

      span {
        margin: 1em;
      }
    }

    li {
      color: transparentize($black, .3);

      &.ui-tabs-active {
        background-image: linear-gradient(to bottom right, #7d7e7d, #0e0e0e);
        color: $white;
      }
    }
  }

  .ui-tabs-panel {
    @include zen-grid-item(9, 1);
    margin: 0;
    padding: 0;
  }
}
