/**
 * Search for wellejus theme
 *
 *
 * @author wiredloose
 */


/* Search in header
   ========================================================================== */
.header-wrapper {
  .search {
    padding-top: 50px;
    padding-bottom: 0;
    @include small-medium() {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .form-item-search-block-form label {
      display: none;
    }

    .form-text {
      @include border-radius(0px);
      min-height: 65px;
    }

    .form-submit {
      @include border-radius(0px);  
      margin: 0;
      color: $white;
      min-height: 65px;
      text-transform: uppercase;
      background: #7d7e7d; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */ 
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
      background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
      
      &:focus,
      &:hover,
      &:active {
        background: none;
        background-color: $black;
      }

      @include small-medium() {
        margin-top: 24px;
      }

    }  
  }
}

.ting-collection-inner-wrapper > h2 {
  display: none;
}

.search-result--availability-link:before {
  content: "\f0c8\0a";
  font-family: FontAwesome;
}

.pane-ting-collection,
.pane-ting-object {

  /* Material Details - Collapsible */
  .collapsible .field-group-format-title,
  .ding-periodical-fold {
    &:before {
      color: $link-color;
    }
  }

  .field-type-ting-subjects {
    a.subject {
      background-color: $green;
      color: white;

      &:hover {
        background-color: darken($green, 10%);
        text-decoration: none;
      }
    }
  }

  li {
    &.pending {
      @include availability($availability-pending);
    }

    &.availability.processed {
      @include availability($availability-processed);
    }

    &.availability.available {
      @include availability($availability-available);
    }

    &.availability.reservable {
      @include availability($availability-reservable);
    }

    &.availability.available.reservable {
      @include availability($availability-available-reservable);
    }

    &.availability.available.not-reservable {
      @include availability($availability-available-not-reservable);
    }

    &.availability.unavailable.reservable {
      @include availability($availability-reservable);
    }

    &.availability.unavailable.not-reservable {
      @include availability($availability-available-not-reservable);
    }

  }
}

.pane-ding-facetbrowser,
.pane-search-backends {
  a:visited {
    // Ensure that links maintain color when visited.
    // We neeed to set this here, since _search partial from ddbasic is using a
    // more specific rule than _wellejus.base partial.
    color: $link-color;
  }
}

/**
 * Bibliotek.dk link plugin on search page
 */
.pane-bibliotek-dk-link {
  text-align: center;
  background: url('../images/pw_maze_white.png');
  padding: 15px;

  .pane-content {
    padding: 20px;
    background-color: transparentize($white, .1);
  }

  @include x-large {
    text-align: left;
    position: relative;

    .pane-content {

      & > a {
        position: absolute;
        right: 25px;
        top: 25px;
      }

      & > p {
        margin-bottom: 0;
      }
    }
  }

}
