/**
 * Search for wellejus theme
 *
 *
 * @author wiredloose
 */


/* Search in header
   ========================================================================== */

.search {

  .form-item-search-block-form label {
    color: $white;
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .form-text {
    @include border-radius(0px);
    min-height: 65px;
  }

  .form-submit {
    @include border-radius(0px);
    border: solid $white 1px;
    min-height: 65px;
    text-transform: uppercase;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */ 
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    
    &:focus,
    &:hover,
    &:active {
      background: none;
      background-color: $black;
    }
  }  
}

/* Search results list
   ========================================================================== */

.pane-search-result {
  
  .search-results {
    .list {
      
      .list-item {
        padding: 10px 0 0;
        border-bottom: 1px solid #EFEFEF;
        background: none;
      }

      .view-mode-teaser {
        padding: 0 0 10px;
        
        .content {
          font-size: $font-size-small;
        }
      }

      .search-result--heading-type {
        text-transform: uppercase;
        font-size: $font-size-tiny;
      }

      .search-result--availability {
        border-top: 1px solid #EFEFEF;
        margin-top: 0;
        padding-top: 0;
      }

    }
  }
}


/* Collection display
   ========================================================================== */

.pane-ting-collection {

  .ting-collection-wrapper {
    padding: 0;
    border-bottom: 1px solid #EEEEEE;
  }

  .ting-collection-inner-wrapper {
    padding: 10px 10px 20px;
  }

  .field.field-name-ting-abstract,
  .field.field-name-ting-series {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: $font-size-small;
  }

}

.ting-collection-inner-wrapper > h2 {
    display: none;
}


/* Object display
   ========================================================================== */

.pane-ting-object {

  .ting-object-wrapper {
    padding: 0;
    border-bottom: 1px solid #EEEEEE;
  }

  .ting-object-inner-wrapper {
    padding: 10px 10px 20px;
  }

  .field.field-name-ting-abstract,
  .field.field-name-ting-series {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: $font-size-small;
  }

}


/* Availability
   ========================================================================== */
.search-result--availability-link:before {
  content: " ";
  font-family: FontAwesome;
}


.pane-ting-collection,
.pane-ting-object {

  li {
    &.pending {
      @include availability($availability-pending);
    }

    &.availability.processed {
      @include availability($availability-processed);
    }

    &.availability.available {
      @include availability($availability-available);
    }

    &.availability.reservable {
      @include availability($availability-reservable);
    }

    &.availability.available.reservable {
      @include availability($availability-available-reservable);
    }

    &.availability.available.not-reservable {
      @include availability($availability-available-not-reservable);
    }

    &.availability.unavailable.reservable {
      @include availability($availability-reservable);
    }

    &.availability.unavailable.not-reservable {
      @include availability($availability-available-not-reservable);
    }

  }
}


/* Subjects
   ========================================================================== */
#w .ting-object {

  .subject {
    background-color: $white;
    text-shadow: none;
    padding: 0;
  }

  .subjects:before {
    content: "Emner: ";
  }

}


/* Layout
   ========================================================================== */
.ting-object-left {
  margin-right: -14%;
  width: 14%;
}

.ting-object-right {
  margin-left: -86%;
  width: 86%;
}