/**
 * Static pages
 *
 * @author Holt
 */

.page {

  // Tags
  .super-heading {
    a {
      display: inline-block;
      padding: 3px 10px;
      margin: 10px 5px 5px 0;
      border-radius: 8px;
      height: 24px;
      color: $white;
      background-color: $green;

      &:hover {
        text-decoration: none;     
        background-color: darken($green, 10%);
      }      
    }

    .news-category a {
      background-color: $black;
      &:hover {
        background-color: lighten($black, 15%);
      }
    }
  }

}
