/**
 * News for wellejus theme
 *
 * Uses shared %article @extends
 *
 * @author wiredloose
 */

.news-list {

  .news-list-item:nth-child(odd) {
    background-color: $list-item-background-color-odd;
  }

  .news-list-item:nth-child(even) {
    background-color: $list-item-background-color-even;
  }  
}

.view-vejlebib-ding-news {
  .news-list {
    .news-list-item {
      padding: $large-spacing $small-spacing;
      
      &:first-child {
        padding-top: 0;
      }
      
      &:first-child .news-sub-heading {
        margin-top: 0;
      }
    }
    
    .news-sub-heading, 
    .news-heading,
    .news-list-content {
      margin: 0;
    }
    
    .news-link {
      float: none;
    }
    
    .news-label {
      //background-color: $white;
      text-shadow: none;
      padding: 0;
      
      a {
        padding: 0;
        background-color: inherit;
        font-size: $font-size-medium;
        text-transform: uppercase;
      }
    }
    
    .news-heading {
      text-transform: uppercase;
      font-size: $font-size-giga;
    }
  }
}

#w .view-vejlebib-ding-news {
  .news-label a {
    color: $black;
  }
}

.news {

  // Tags
  .super-heading {
    a {
      display: inline-block;
      padding: 3px 10px;
      margin: 10px 5px 5px 0;
      border-radius: 8px;
      height: 24px;
      color: $white;
      background-color: $green;

      &:hover {
        text-decoration: none;     
        background-color: darken($green, 10%);
      }      
    }

    .news-category a {
      background-color: $black;
      &:hover {
        background-color: lighten($black, 15%);
      }
    }
  }

}
