/**
 * Tabroll for wellejus theme
 *
 * @author holt83
 */

.ding-tabroll-wrapper {
  background-color: $vejle-color;

  .ding-tabroll-select-tabs {
    width: 100%;
  }
}

@include large-x-large() {
  .ding-tabroll-wrapper .ui-tabs {
    ul.ui-tabs-nav {
      @include zen-grid-item(3, 1, right);
      list-style: square;
      padding: 0;
      right: 0;

      a {
        font-weight: bold;
        text-transform: uppercase;
        color: inherit;

        span {
          display: block;
          margin: 0.5em;
          text-align: left;
        }

        &:before {
          display: none;
        }
      }

      li {
        height: 20%;
        width: 100%;
        color: transparentize($black, .3);

        &.ui-tabs-active {
          background-image: linear-gradient(to bottom right, #7d7e7d, #0e0e0e);
          color: $white;
        }
      }
    }

    .ui-tabs-panel {
      @include zen-grid-item(9, 1);
      padding: 0;
      border: 1px solid $white;
      border-right: none;
    }
  }
}
