/**
 * User styling for wellejus theme
 *
 * @author wiredloose
 */


/* User login and user info panel in header
   ========================================================================== */

.header-wrapper  {
  .user {
    padding: 0; /* Override the padding set in DDBAsic */
  }

  .user.pane-user-login {
    padding: 40px 10px 0 10px;
    @include small-medium() {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  .user.vejlebib-user-info {
    padding: 10px 10px 0px 10px;

    @include small-medium() {
      padding-bottom: 20px;
    }
  }

}

/* User login and user-panel for logged-in library users. */
.user {
  .form-text {
    @include border-radius(0px);
  }
  
  .form-item-name label,
  .form-item-pass label {
    display: none;
  }
  
  .form-submit {
    @include border-radius(0px);
    margin: 0;
    min-height: 65px;
    color: $white;
    text-transform: uppercase;
    padding: 0;
    background-image: linear-gradient(to bottom right, #7d7e7d, #0e0e0e);
    
    &:focus,
    &:hover,
    &:active {
      background: none;
      background-color: $black;
    }
  }

  &.vejlebib-user-info {
    ul {
      padding: 0;
    }

    li {
      float: left;
      width: 50%; 
    }
    
    .button {
      @include box-sizing(border-box);
      @include border-radius(0px);
      white-space: nowrap; /* Fix broken user-panel on smaller screens */
      line-height: 19px; /* To get the same height as search and vertically align text */
      display: inline-block;
      color: $white;
      text-align: center;
      padding: 7px;
      width: 100%;
      background-image: linear-gradient(to bottom right, #7d7e7d, #0e0e0e);
      
      &:focus,
      &:hover,
      &:active {
        background: none;
        background-color: $black;
      }
    }
    
    .username {
      margin-bottom: 5px;
      
      a {
        color: #FFFFFF;
        font-size: $font-size-large;
        font-weight: bold;
      }
    }
  }

  /* Media queries */
  @include large-x-large() {
    ul {
      padding-left: 0;
    }
    
    min-height: 30px;
    
    overflow: visible;

    .form-item-name,
    .form-item-pass {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      float: none;
      width: 68%;
      margin-bottom: 5px;
    }

    .form-item-pass {
      margin-bottom: 0;
    }

    .form-item-name label,
    .form-item-pass label {
      font-size: 250%;
    }

    [class^="icon-"] {
      left: 16px;
      bottom: 5px;
      font-size: 120%;
    }
  
    .form-item-pass label {
      display: none;
    }
  
    .form-text {
      min-height: 30px;
    }
  }
}
