/**
 * Event styling for wellejus theme
 *
 * @author wiredloose
 */


/* Event list
   ========================================================================== */


.event-list {

  .event-list-item:nth-child(odd) {
    @extend %article-background--odd;
  }

  .event-list-item:nth-child(even) {
    @extend %article-background--even;
  }

}

.view-vejlebib-ding-event {
  .event-list-leaf {
    padding-left: 75px;
    
    .event-list-date-wrapper {
      box-shadow: 2px 2px 2px;
      position: absolute;
      left: 0;
      text-transform: uppercase;
      font-weight: bold;
      
      // using library colors
      &.vejle {
        border: 1px solid $vejle-color;
      }
      
      &.borkop {
        border: 1px solid $borkop-color;
      }
      
      &.egtved {
        border: 1px solid $egtved-color;
      }
      
      &.give {
        border: 1px solid $give-color;
      }
      
      &.jelling {
        border: 1px solid $jelling-color;
      }
    }
  }

  .event-list-day{
    text-shadow: none;
  }

  .event-list-date {
    font-size: 280%;
    margin-bottom: -5px;
  }

  // using library colors
  .vejle .event-list-day {
    background-color: $vejle-color;
  }

  .borkop .event-list-day {
    background-color: $borkop-color;
  }

  .egtved .event-list-day {
    background-color: $egtved-color;
  }

  .give .event-list-day {
    background-color: $give-color;
  }

  .jelling .event-list-day {
    background-color: $jelling-color;
  }

  .event-list-heading {
    margin-bottom: 0;
    font-size: 130%;
  }

  .event-list-location {
    display: block;
  }

  .event-list-time:before { 
    content: "\f017  "; 
    font-family: FontAwesome;
  }
}

.frontpage-layout {
  .pane-vejlebib-ding-event-vejlebib-ding-event-list .pane-title {
    background: $black;
    color: $white;
    font-size: 1em;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
  }
}


/* Event
   ========================================================================== */

.event {

  .event-info {
    div {
      border-left: 5px solid $gray-light;
    }
  }

  /* Media queries */
  @include small-medium {
    .event-info {
      div {
        background-color: $gray-light;
        border-left: 0;
        border-bottom: 1px solid $gray;
        padding-top: 12px;
        padding-bottom: $medium-spacing;
      }
    }
  }

}
