/**
 * User styling for wellejus theme
 *
 * @author wiredloose
 */


/* User login and user info panel in header
   ========================================================================== */

.header-wrapper {
  .user {
    padding-bottom: 0px;
    @include small-medium() {
      padding-bottom: 30px;
    }
  }

  .vejlebib-user-info {
    min-height: 101px;
  }
}

/* User login and user-panel for logged-in library users. */
.user {
  .form-text {
    @include border-radius(0px);
  }
  
  .form-item-name label,
  .form-item-pass label {
    color: $white;
    font-size: $font-size-largest;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin-left: 0px;
  }
  
  .form-submit {
    @include border-radius(0px);
    border: solid $white 1px;
    min-height: 65px;
    text-transform: uppercase;
    padding: 0;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */ 
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    
    &:focus,
    &:hover,
    &:active {
      background: none;
      background-color: $black;
    }
  }

  &.vejlebib-user-info {
    li {
      float: left;
      width: 48%;
    }
    
    .button {
      padding: 3px;
      width: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 0;
      background: #7d7e7d; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */ 
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
      background: linear-gradient(135deg,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
      
      &:focus,
      &:hover,
      &:active {
        background: none;
        background-color: $black;
      }
    }
    
    .username {
      margin: 2px 0 5px;
      
      a {
        color: #FFFFFF;
        font-size: $font-size-large;
        font-weight: bold;
      }
    }
  }

  /* Media queries */
  @include large-x-large() {
    ul {
      padding-left: 0;
    }
    
    min-height: 30px;
    
    overflow: visible;

    .form-item-name,
    .form-item-pass {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 5px;
      float: none;
      width: 68%;
    }

    .form-item-name label,
    .form-item-pass label {
      font-size: 250%;
    }

    [class^="icon-"] {
      left: 16px;
      bottom: 5px;
      font-size: 120%;
    }
  
    .form-item-pass label {
      display: none;
    }
  
    .form-text {
      min-height: 30px;
    }
  }
}