/**
 * Buttons for wellejus
 *
 * @author wiredloose
 */


.field-type-ding-entity-buttons {

  form input {
    height: 40px;
  }

  .reserve-button {
    margin-left: $medium-spacing;
  }

  .bookmark-button {
  	@include create-gradient-button($button-bookmark-color, $button-bookmark-bg, darken($button-bookmark-bg, 15%));
  	line-height: 24px;
  	text-align: center;
  	vertical-align: middle;
  }

}

