  /**
 * Base for wellejus theme
 *
 * @author wiredloose
 */



body {
  background-color: $gray-light;
  color: $font-color-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-largest;
}

h3 {
  font-size: $font-size-larger;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;                
}

strong {
  @include font-bold();
}

em {
  @include font-italic();

  strong {
    @include font-bold();
  }
}

input {
  @include text-truncate();
}

/* Background */
#page.ding2-site-template {
  // SVG background with IE8 fallback.
  // See: http://www.broken-links.com/2010/06/14/using-svg-in-backgrounds-with-png-fallback/
  background-image: url('../images/facet_baggrund_A3_300dpi.jpg');
  background-image: none, url("../images/facet_baggrund_admin_liggende.svg");
  background-attachment: fixed;
  // Use some scaling and repositioning to try and removed the annoying "white
  // border" when using SVG as background.
  background-size: 103%;
  background-position: -1px -2px;
}

/* override ALL link styles */
a {
  font-weight: $base-font-weight-normal;
  color: $link-color;
  &:link,
  &:visited {
    text-decoration: none;
    // Ensure that links maintain color when visited.
    color: $link-color;
  }

  &:hover {
    text-decoration: underline;

    // No underline on font awesome icons when placed in links.
    i[class^="icon-"] {
      text-decoration: none;
    }
  }

  &:active {
    text-decoration: underline;
  }
}

#toolbar a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}


/* body content default styles
   ========================================================================== */
.field-name-field-ding-event-body,
.field-name-field-ding-news-body,
.field-name-field-ding-page-body {
  img {
    float: left;
    margin: 0 $large-spacing $medium-spacing 0;
  }
}

/* RSS feed links
   ========================================================================== */
.feed-icon:before {
  color: #FFA500;
  content: " ";
  font-family: FontAwesome;
}

/* Maintenance page
   ========================================================================== */
// Note: Some basic styling of the page when site is in maintenance mode. This
// is temporary; we should probably have a look at the maintenance-page.tpl.php
// and maintenance-page--offline.tpl.php in the future and make them look more
// like our site's structure when we're not in maintenance.
.maintenance-page {
  #page.ding2-site-template {
    background-image: none;
  }
  .topbar-inner {
    margin: 0;
  }
}
