/**
 * Miscellaneous styling for Wellejus theme.
 *
 * @author holt83
 */

/* Site template
   ========================================================================== */
.ding2-site-template {
  //padding: $medium-spacing;
  // SVG background with IE8 fallback.
  // See: http://www.broken-links.com/2010/06/14/using-svg-in-backgrounds-with-png-fallback/
  background-image: url('../images/facet_baggrund_A3_300dpi.jpg');
  // background-image: url("../images/facet_baggrund_admin_liggende.svg");
  background-attachment: fixed;
  background-size: 110%;
}

/* Topbar
   ========================================================================== */
.topbar {
  background-color: $topbar-background-color;
}

/* Logo
   ========================================================================== */
.logo {
  margin: $large-spacing*1.5 $large-spacing;
}

/* Media queries */
@include small-medium() {

  .logo {
    height: inherit;
    margin: $medium-spacing;
    width: 50%;

    img {
      height: inherit;
      margin-top: 0;
    }
  }
}

/* Header
   ========================================================================== */
.header-wrapper {
	@include rgba-background($header-background-color, $default-transparency);
}

/* Content
   ========================================================================== */
.content-inner {
	background-color: $gray-dark;
}

.content-wrapper {
  @include rgba-background($gray-darker, $default-transparency);
  margin-top: 0;
}

.pane-page-content {
  padding: 10px; // Our gray "border"
}

/* Common rules for frontpage and default layout. */
.default-layout,
.frontpage-layout {
  background-color: $white;

  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .layout-wrapper {
    margin: 0;
  }
}

/* Specific rules for default layout */
.default-layout {
  margin-top: 0;

  .layout-wrapper {
    padding: 10px;
  }
}

/* Specific rules for frontpage layout */
.frontpage-layout {
  padding: 10px;

  .layout-wrapper {
    padding: 0;
  }
}

/* Maintenance page
   ========================================================================== */
// Note: Some basic styling of the page when site is in maintenance mode. This
// is temporary; we should probably have a look at the maintenance-page.tpl.php
// and maintenance-page--offline.tpl.php in the future and make them look more
// like our site's structure when we're not in maintenance.
.maintenance-page {
  #page.ding2-site-template {
    background-image: none;
  }
  .topbar-inner {
    margin: 0;
  }
}

/* body content default styles
   ========================================================================== */
.field-name-field-ding-event-body,
.field-name-field-ding-news-body,
.field-name-field-ding-page-body {
  img {
    float: left;
    margin: 0 $large-spacing $medium-spacing 0;
  }
}

/* RSS feed links
   ========================================================================== */
.feed-icon:before {
  color: #FFA500;
  content: "\f09e\0a";
  font-family: FontAwesome;
}

/* Footer
   ========================================================================== */
.footer {
  background-color: $list-item-background-color-even;
  padding-top: 0;
}

.footer-inner {
  padding: $large-spacing;

  a {
    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}

/* Bottom
   ========================================================================== */
.bottom {
  background-image: linear-gradient(to bottom right, #7d7e7d, #0e0e0e);
  color: #808080;
  p {
    color: $white;
    margin: 0 $large-spacing;
    line-height: 3em;
    a {
      color: $header-background-color;
    }
  }
}

/* Toolbar
   ========================================================================== */
#toolbar a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
