/**
 * Buttons for wellejus
 *
 * @author wiredloose
 */

.ting-object-inner-wrapper {

  position: relative;

  .field-type-ding-entity-buttons {

    position: absolute;
    bottom: 20px;
    right: 0;

    form input {
      height: 40px; 
    }

    .reserve-button {
      margin-left: $medium-spacing;
    }

    .bookmark-button {
    	@include create-gradient-button($button-bookmark-color, $button-bookmark-bg, darken($button-bookmark-bg, 30%));
    	text-align: center;
    	vertical-align: middle;
    }

  }
} 


