/**
 * Navigation for wellejus theme
 *
 * @author wiredloose
 */


/* Topbar menu
   ========================================================================== */

.topbar-menu {
  .menu-item {
    @include text-shadow(1px 1px 0 rgba(0, 0, 0, .2));
    
    color: $black;
    
    &.active {
      background-color: $header-background-color;
      @include rgba-background($header-background-color, $default-transparency);
    }
  }
  
  /* Media queries */
  @include large-x-large() {
    display: none;
  }
}


/* Navigation, main menu and secondary menu
   ========================================================================== */

.navigation-wrapper {
  /* Media queries */
  @include small-medium() {
    @include rgba-background($header-background-color, $default-transparency);
  }
}


/* Footer menus
   ========================================================================== */

.footer {
  .pane-title {
    color: $black;
    border-bottom: none;
  }

  .menu {
    
    li {
      margin-bottom: 0;

      &:before {
        color: $black;
      }

      a {
        color: $black;

        &.active {
          color: darken(white, 0.1);
        }
      }
    }
  }
}
