/**
 * Base for wellejus theme
 *
 * @author wiredloose
 */



body {
  background-color: $gray-light;
  color: $font-color-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-largest;
}

h3 {
  font-size: $font-size-larger;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;
}

strong {
  @include font-bold();
}

em {
  @include font-italic();

  strong {
    @include font-bold();
  }
}


/* override ALL link styles */
#w a {
  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

#toolbar a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}


/* body content default styles
   ========================================================================== */
.field-name-field-ding-event-body,
.field-name-field-ding-news-body,
.field-name-field-ding-page-body {
  img {
    float: left;
    margin: 0 $large-spacing $medium-spacing 0;
  }
}

/* RSS feed links
   ========================================================================== */
.feed-icon:before {
  color: #FFA500;
  content: " ";
  font-family: FontAwesome;
}
