/**
 * Buttons for wellejus
 *
 * @author wiredloose
 */

/**
 * Common styling for ding entity action-buttons
 */
.field-type-ding-entity-buttons {

  form input {
    height: 40px; 
  }

  .reserve-button {
    margin-left: $medium-spacing;
  }

  .bookmark-button {
    @include create-gradient-button($button-bookmark-color, $button-bookmark-bg, darken($button-bookmark-bg, 30%));
    text-align: center;
    vertical-align: middle;
  }

  .button-see-online {
    line-height: 100%; /* Remove the line-height: 125% applied in ddbasic _search.scss line 215 */
  }

  /**
   * Remove hover underline on action buttons
   */
  .reserve-button, .bookmark-button {
      text-decoration: none !important;
  }

}

/* Below should probably be moved to _wellejus_search.scss partial */
.ting-object-wrapper:first-child .ting-object-inner-wrapper {

  .field-type-ding-entity-buttons {
    margin-top: 30px;
  }

  /**
   * Position ding entity action buttons in bottom right corner when viewing a
   * ting object entity on large and x-large screens.
   */
  @include large-and-x-large() {
    position: relative;
    min-height: 350px;

    .field-type-ding-entity-buttons {
      position: absolute;
      bottom: 20px; 
      right: 20px;
    }
  }  

} 

.ting-collection-wrapper {

  .field-type-ding-entity-buttons {
    margin-top: 20px;
  }

}


