/**
 * Base for wellejus theme
 *
 * @author wiredloose
 */



body {
  background-color: $gray-light;
  color: $font-color-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-largest;
}

h3 {
  font-size: $font-size-larger;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;
}

strong {
  @include font-bold();
}

em {
  @include font-italic();

  strong {
    @include font-bold();
  }
}


/* override ALL link styles */
#w a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }

  &:focus {
    color: $link-color;
  }

  &:active {
    background-color: transparent;
    color: $link-color;
    text-decoration: underline;
  }
  
}

/* putting back link colors that were overriden */
#w a.js-topbar-link.active,
#w a.wagnerguide.map,
#w .hours .opening-hours-list a {
  color: $white;
}

#toolbar a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}

#w h1,
#w h2,
#w h3,
#w h4,
#w h5,
#w h6,
#w .footer-inner {
  a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $black;
    }
  }
}

#w .action-button,
#w .button,
#w .button-see-online,
#w .ticket-available {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

/* body content default styles
   ========================================================================== */
.field-name-field-ding-event-body,
.field-name-field-ding-news-body,
.field-name-field-ding-page-body {
  img {
    float: left;
    margin: 0 $large-spacing $medium-spacing 0;
  }
}